/* line 12, ../_scss/_custom.scss */
.text-center {
  display: flex;
  justify-content: center;
}

/* line 19, ../_scss/_custom.scss */
:root {
  --background: white;
  --color: black;
  --box-shadow: 10px 10px 5px black;
}

@media (prefers-color-scheme: dark) {
  /* line 27, ../_scss/_custom.scss */
  :root {
    --background: black;
    --color: white;
    --box-shadow: 10px 10px 5px black;
  }
}
/* line 37, ../_scss/_custom.scss */
img .cover {
  width: 100%;
  height: auto;
}

/* line 43, ../_scss/_custom.scss */
body {
  background-color: var(--background);
  color: var(--color);
  font-family: sans-serif;
}
/* line 46, ../_scss/_custom.scss */
body .row {
  max-width: 1280px;
}
/* line 50, ../_scss/_custom.scss */
body hr {
  color: var(--color);
}
/* line 55, ../_scss/_custom.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
}
/* line 60, ../_scss/_custom.scss */
body p {
  font-weight: lighter;
}
/* line 63, ../_scss/_custom.scss */
body a {
  color: inherit;
  text-decoration: underline;
}
/* line 68, ../_scss/_custom.scss */
body a:hover {
  color: inherit;
  text-decoration: line-through;
}
/* line 73, ../_scss/_custom.scss */
body a:visited {
  color: inherit;
}
/* line 77, ../_scss/_custom.scss */
body ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
/* line 82, ../_scss/_custom.scss */
body ul li {
  list-style: none !important;
}
/* line 87, ../_scss/_custom.scss */
body input[type=text], body input[type=button] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/* line 92, ../_scss/_custom.scss */
body button {
  width: 100%;
  border: 2px solid var(--color);
  height: 30px;
  color: var(--color);
  background-color: var(--background);
  font-size: 120%;
  margin-left: 0px;
  margin-top: 10px;
  padding: 3;
  border-radius: 0 !important;
}
/* line 104, ../_scss/_custom.scss */
body button:hover {
  background-color: black;
  color: white;
}
/* line 109, ../_scss/_custom.scss */
body button:visited {
  border: 2px solid black;
  background-color: transparent;
  color: inherit;
}
/* line 115, ../_scss/_custom.scss */
body input {
  border: none;
  height: 30px;
  padding: 3;
  border-radius: 0 !important;
  text-align: center !important;
}

/* line 128, ../_scss/_custom.scss */
#buy-options {
  display: none;
}

/* line 133, ../_scss/_custom.scss */
.inlinelist #margin {
  margin-right: 20px;
}

/* line 138, ../_scss/_custom.scss */
span.options {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

/* line 144, ../_scss/_custom.scss */
input[type="radio"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  outline: 0;
  background: lightgray;
  border: 0px solid white;
  border-radius: 0%;
}

/* line 155, ../_scss/_custom.scss */
input[type="radio"]:checked {
  background: gray;
  color: white;
}

/* line 160, ../_scss/_custom.scss */
input[type="checkbox"]:hover {
  filter: brightness(90%);
}

/* line 164, ../_scss/_custom.scss */
input[type="checkbox"]:disabled {
  background: black;
  opacity: 0.6;
  pointer-events: none;
}

/* line 170, ../_scss/_custom.scss */
input[type="radio"]:checked:after {
  display: none;
}

/* line 174, ../_scss/_custom.scss */
input[type="radio"]:disabled:after {
  border-color: gray;
}

/* line 179, ../_scss/_custom.scss */
.main {
  padding-top: 3rem;
}

@media only screen and (max-width: 40em) {
  /* line 183, ../_scss/_custom.scss */
  .main {
    padding-top: 0.5rem;
  }
}
/* line 188, ../_scss/_custom.scss */
.anchorlink::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}

/* line 199, ../_scss/_custom.scss */
.separation {
  border: 0;
  height: 0.7px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  margin-bottom: 80px;
  margin-top: 80px;
}

/* line 208, ../_scss/_custom.scss */
.nav {
  z-index: 100;
  height: 50px;
  width: 100%;
  background: var(--background);
  position: fixed;
  top: 0 !important;
  left: 0 !important;
}

/* line 218, ../_scss/_custom.scss */
.nav > .nav-header {
  display: inline;
}

/* line 222, ../_scss/_custom.scss */
.nav > .nav-header > .nav-title {
  display: inline-block;
  padding: 6px 2px 6px 4px;
}
/* line 226, ../_scss/_custom.scss */
.nav > .nav-header > .nav-title img {
  max-height: 35px;
  width: auto;
}

/* line 233, ../_scss/_custom.scss */
.nav > .nav-btn {
  display: none;
}

/* line 237, ../_scss/_custom.scss */
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

/* line 243, ../_scss/_custom.scss */
.nav > .nav-links > a {
  font-size: 80%;
  display: inline-block;
  padding: 13px 10px 13px 10px;
}

/* line 248, ../_scss/_custom.scss */
.carticon {
  width: 30px !important;
}

/* line 252, ../_scss/_custom.scss */
.closecarticon {
  color: gray;
}

/* line 256, ../_scss/_custom.scss */
#cart {
  position: absolute;
  right: 0;
  background: inherit;
  display: block;
  padding: 0.9rem;
  padding-top: 0.3rem;
  display: none;
}
/* line 264, ../_scss/_custom.scss */
#cart #close {
  margin-left: 10px;
  text-decoration: none;
  font-size: 150%;
}

/* line 271, ../_scss/_custom.scss */
#CartCount {
  margin-left: 4px;
  text-decoration: none;
  color: gray;
}

/* line 277, ../_scss/_custom.scss */
#opencart {
  position: absolute;
  right: 0;
  background: inherit;
  padding: 0.9rem;
  padding-top: 0 px;
}
/* line 284, ../_scss/_custom.scss */
#opencart a {
  padding-top: 0 px;
  margin-top: 0px;
  font-size: 200%;
  text-decoration: none;
}
/* line 290, ../_scss/_custom.scss */
#opencart a:hover {
  text-decoration: none;
}

/* line 295, ../_scss/_custom.scss */
.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  /* line 300, ../_scss/_custom.scss */
  .nav {
    position: relative;
  }

  /* line 303, ../_scss/_custom.scss */
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px !important;
    top: 0px;
  }

  /* line 310, ../_scss/_custom.scss */
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 9px;
    padding-right: 0;
  }

  /* line 318, ../_scss/_custom.scss */
  .nav > .nav-btn > label > span {
    display: block;
    width: 100%;
    height: 10px;
    border-top: 2px solid var(--color);
  }

  /* line 325, ../_scss/_custom.scss */
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--background);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  /* line 336, ../_scss/_custom.scss */
  .nav > .nav-links > a {
    padding-left: 1.5rem;
    display: block;
    width: 100%;
  }

  /* line 341, ../_scss/_custom.scss */
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  /* line 344, ../_scss/_custom.scss */
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/* line 352, ../_scss/_custom.scss */
.modalcontainer {
  padding: 2rem;
  padding-top: 6rem;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 361, ../_scss/_custom.scss */
.sb-close-btn {
  display: none;
  float: right;
  right: 7px;
  top: 5px;
  color: var(--color);
  cursor: pointer;
}

/* line 371, ../_scss/_custom.scss */
#indexHeader {
  height: 100vh;
  padding: 10% 30px 65px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 382, ../_scss/_custom.scss */
#indexHeader .typewrite {
  font-size: 180%;
  background: var(--background);
}

/* ---- release ---- */
/* line 392, ../_scss/_custom.scss */
#homepage img {
  width: 200px;
}
/* line 395, ../_scss/_custom.scss */
#homepage .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: flex-start;
  min-height: 175px;
}
/* line 407, ../_scss/_custom.scss */
#homepage .textblock {
  width: 400px;
  margin-left: 1rem;
  margin-right: 1rem;
}
/* line 411, ../_scss/_custom.scss */
#homepage .textblock h1, #homepage .textblock h2, #homepage .textblock h3, #homepage .textblock h4, #homepage .textblock h5, #homepage .textblock h6 {
  word-wrap: break-word;
}
/* line 416, ../_scss/_custom.scss */
#homepage img:hover {
  border: 1px solid currentColor;
}

/* line 423, ../_scss/_custom.scss */
.molkky-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 429, ../_scss/_custom.scss */
.molkky-list li {
  display: inline-block;
  width: 24%;
}

/* line 437, ../_scss/_custom.scss */
.distro {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* line 441, ../_scss/_custom.scss */
.distro ul {
  display: flex;
  flex-wrap: wrap;
}
/* line 446, ../_scss/_custom.scss */
.distro li {
  margin-top: 1rem;
}

/* line 453, ../_scss/_custom.scss */
.wikihome {
  display: block;
  justify-content: center;
  text-align: center;
}

/* line 459, ../_scss/_custom.scss */
#blogMain {
  margin-bottom: 4rem;
}

/* line 464, ../_scss/_custom.scss */
.left-in {
  padding-top: 10%;
}

/* line 468, ../_scss/_custom.scss */
.icoClock {
  width: 14px;
  height: auto;
}

@media only screen and (min-width: 64.063em) {
  /* line 473, ../_scss/_custom.scss */
  .blogtext {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* line 480, ../_scss/_custom.scss */
.blogtext p {
  font-family: serif;
  font-size: 17px;
}
/* line 484, ../_scss/_custom.scss */
.blogtext p .small {
  font-size: 12px;
}
/* line 489, ../_scss/_custom.scss */
.blogtext .blogcontent > p:first-of-type:first-letter {
  font-size: 4em;
  text-transform: uppercase;
  color: grey;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  line-height: 1em;
  letter-spacing: 0.2em;
  float: left;
  width: 20%;
  line-height: 1;
  text-align: center;
  font-family: sans-serif;
}
/* line 507, ../_scss/_custom.scss */
.blogtext .blogcontent h1::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}
/* line 515, ../_scss/_custom.scss */
.blogtext .blogcontent h2::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}
/* line 523, ../_scss/_custom.scss */
.blogtext .blogcontent h3::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}
/* line 531, ../_scss/_custom.scss */
.blogtext .blogcontent h4::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}
/* line 539, ../_scss/_custom.scss */
.blogtext .blogcontent h5::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}
/* line 547, ../_scss/_custom.scss */
.blogtext .blogcontent h6::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}

/* line 560, ../_scss/_custom.scss */
.blogHeader {
  display: flex;
  align-items: center;
  min-height: 90vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--background);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 30px;
}
/* line 573, ../_scss/_custom.scss */
.blogHeader .testata {
  align-items: center;
  text-align: center;
  /*@media only screen and (min-width: 64.063em) {
  max-width: 80hv;
  }*/
  margin-right: auto;
  margin-left: auto;
}
/* line 583, ../_scss/_custom.scss */
.blogHeader .testata .bg {
  padding: 1rem;
  background-color: var(--background);
}

/* line 592, ../_scss/_custom.scss */
.post-categories {
  padding-top: 2rem;
}

/* line 600, ../_scss/_custom.scss */
#blog {
  padding-bottom: 60px;
  margin-bottom: 0px;
}

/* line 609, ../_scss/_custom.scss */
img {
  width: 100%;
}

/* line 613, ../_scss/_custom.scss */
.logoTrama {
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  animation: roll 20s infinite;
  animation-timing-function: linear;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* line 648, ../_scss/_custom.scss */
.item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 800px;
}

/* line 660, ../_scss/_custom.scss */
.itemborder {
  flex: 0 0 33.33%;
  border-style: solid;
  border-width: 1px;
  box-shadow: var(--box-shadow);
  margin-bottom: 15px;
  z-index: 99;
  padding: 0;
}

/* line 670, ../_scss/_custom.scss */
.shopbutton {
  padding: 0.8rem;
}
/* line 672, ../_scss/_custom.scss */
.shopbutton h4 {
  text-decoration: line-through;
}

@media only screen and (max-width: 800px) {
  /* line 679, ../_scss/_custom.scss */
  .item {
    display: block;
  }

  /* line 682, ../_scss/_custom.scss */
  .itemborder {
    min-width: 100%;
  }

  /* line 685, ../_scss/_custom.scss */
  .gallery {
    display: block;
    margin-bottom: 3rem;
  }
  /* line 688, ../_scss/_custom.scss */
  .gallery img {
    min-width: 100%;
  }
}
/* line 694, ../_scss/_custom.scss */
.gallery {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 0 0 60%;
}

/* line 705, ../_scss/_custom.scss */
.itemtitle {
  padding: 0.8rem;
}
/* line 707, ../_scss/_custom.scss */
.itemtitle h1, .itemtitle h2, .itemtitle h3, .itemtitle h4, .itemtitle h5, .itemtitle h6, .itemtitle p {
  overflow: visible;
  word-break: break-word;
}

/* line 713, ../_scss/_custom.scss */
.itemdescr {
  padding: 0.8rem;
}
/* line 715, ../_scss/_custom.scss */
.itemdescr h1, .itemdescr h2, .itemdescr h3, .itemdescr h4, .itemdescr h5, .itemdescr h6, .itemdescr p {
  overflow: visible;
  word-break: break-word;
}

/* line 724, ../_scss/_custom.scss */
.soldout {
  text-decoration: line-through;
}

/* line 727, ../_scss/_custom.scss */
.buttonPaypall {
  max-height: 35px;
}

/* line 736, ../_scss/_custom.scss */
.clearing-assembled .clearing-container .carousel {
  margin-top: 0px;
}

/* line 745, ../_scss/_custom.scss */
#Cart {
  text-align: center;
}

/*
#CartCount{
	text-align:center;
}*/
/* line 754, ../_scss/_custom.scss */
.icoCart {
  width: 19px;
  height: auto;
}

/* line 762, ../_scss/_custom.scss */
.thanks {
  display: block;
  max-width: 400px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 771, ../_scss/_custom.scss */
.blocktext {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

/* line 778, ../_scss/_custom.scss */
pre {
  margin-top: 4rem;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/* line 785, ../_scss/_custom.scss */
.page {
  min-height: 100vh;
  padding-top: 2rem;
}

/* line 793, ../_scss/_custom.scss */
.responsive {
  margin: 0px;
}

/* line 796, ../_scss/_custom.scss */
.subpanel {
  padding: 7px;
}

/* line 802, ../_scss/_custom.scss */
.footer {
  background: var(--background);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 100;
  margin-top: 2rem;
}
/* line 809, ../_scss/_custom.scss */
.footer img {
  max-width: 100px;
}
/* line 812, ../_scss/_custom.scss */
.footer a {
  margin-left: 5px;
}

/* line 819, ../_scss/_custom.scss */
.newsbtn {
  padding: 3px;
  max-width: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 828, ../_scss/_custom.scss */
.centered {
  padding-top: 30px;
  text-align: center;
}
/* line 831, ../_scss/_custom.scss */
.centered svg {
  max-width: 400px;
}
/* line 834, ../_scss/_custom.scss */
.centered h1 {
  font-size: 120px;
}

/* line 841, ../_scss/_custom.scss */
.amazon {
  background: #232f3e;
  padding-top: 0.5rem;
  height: auto;
  overflow: visible;
  color: white;
}
/* line 849, ../_scss/_custom.scss */
.amazon #localization img {
  width: 20px;
  margin-right: 3px;
}
/* line 855, ../_scss/_custom.scss */
.amazon #logoAmz {
  max-width: 145px;
  max-height: auto;
  margin-left: 20px;
}
/* line 862, ../_scss/_custom.scss */
.amazon .amzsearchblock {
  width: 60%;
}
/* line 865, ../_scss/_custom.scss */
.amazon .amzsearchblock .media-boxes-search-amz {
  height: 35px;
  display: inline;
  color: #555;
  background-color: #fff;
  float: left;
  /*min-width: 500px;*/
  width: 80%;
}
/* line 874, ../_scss/_custom.scss */
.amazon .amzsearchblock .media-boxes-search-amz input, .amazon .amzsearchblock .media-boxes-search-amz textarea {
  border-width: 0px;
}
/* line 883, ../_scss/_custom.scss */
.amazon .amzsearchblock #amzLente {
  float: right;
  display: inline;
  background-color: #febd69;
  padding-top: 8px;
  padding-left: 12px;
  vertical-align: middle;
  width: 10%;
  height: 35px;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -khtml-border-radius: 0px 5px 5px 0px;
}
/* line 896, ../_scss/_custom.scss */
.amazon .amzsearchblock #amzLente img {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
/* line 902, ../_scss/_custom.scss */
.amazon .amzsearchblock #amzLente:hover {
  background-color: #f3a847;
}
/* line 906, ../_scss/_custom.scss */
.amazon .amzsearchblock #amzLeft {
  float: left;
  display: inline;
  background-color: #f3f3f3;
  padding-top: 8px;
  padding-left: 12px;
  vertical-align: middle;
  width: 10%;
  height: 35px;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -khtml-border-radius: 5px 0px 0px 5px;
}
/* line 920, ../_scss/_custom.scss */
.amazon .amzsearchblock #amzLente:hover {
  background-color: #f3a847;
}
@media only screen and (max-width: 40em) {
  /* line 928, ../_scss/_custom.scss */
  .amazon .amzsearchblock {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 933, ../_scss/_custom.scss */
  .amazon .amzsearchblock #amzLente {
    width: 15%;
  }
  /* line 936, ../_scss/_custom.scss */
  .amazon .amzsearchblock .media-boxes-search-amz {
    width: 70%;
  }
  /* line 939, ../_scss/_custom.scss */
  .amazon .amzsearchblock #amzLeft {
    width: 15%;
  }
}
/* line 945, ../_scss/_custom.scss */
.amazon .categoryamz1:after {
  border: inset 5px;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
  border-left-style: solid;
  margin-left: 0.375rem;
  margin-top: 2px;
  top: 50%;
  right: 0;
}
/* line 958, ../_scss/_custom.scss */
.amazon .categoryamz:after {
  border: inset 5px;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
  border-left-style: solid;
  margin-right: 0.9375rem;
  margin-left: 0.9375rem;
  margin-top: -4px;
  top: 50%;
  right: 0;
}
/* line 973, ../_scss/_custom.scss */
.amazon .f-dropdown {
  color: black;
}
/* line 976, ../_scss/_custom.scss */
.amazon .amzfakemenu {
  color: #ccc;
  margin-top: 7px;
}
/* line 979, ../_scss/_custom.scss */
.amazon .amzfakemenu span {
  margin-right: 15px;
}
/* line 984, ../_scss/_custom.scss */
.amazon .cartamz {
  padding-right: 20px;
  text-align: right;
  font-size: 110%;
}
/* line 990, ../_scss/_custom.scss */
.amazon .cartamz .icoCartamz {
  width: 40px;
  height: auto;
  padding-bottom: 10px;
}
/* line 994, ../_scss/_custom.scss */
.amazon .cartamz .icoCartamz img {
  width: 40px;
}
@media only screen and (max-width: 40em) {
  /* line 1000, ../_scss/_custom.scss */
  .amazon .cartamz {
    text-align: center;
    padding-right: 0px;
    margin-top: 30px;
  }
}

/* line 1008, ../_scss/_custom.scss */
.amzside {
  padding-left: 10px;
  margin-top: 20px;
  border-right: 2px solid #d6d6d6;
  height: 500px;
  font-weight: 700;
}

/* line 1018, ../_scss/_custom.scss */
.amzstar {
  max-width: 75px;
}

/* line 1021, ../_scss/_custom.scss */
.amzbold {
  font-weight: 700;
  /*color: #0066c0;*/
}

/* line 1026, ../_scss/_custom.scss */
.amzoange {
  font-weight: 700;
  color: #c45500;
}

/* line 1031, ../_scss/_custom.scss */
.amzsideinner {
  padding-left: 10px;
  font-size: 93%;
  font-weight: 700;
}

/* line 1037, ../_scss/_custom.scss */
.maincontamz {
  margin: 0;
  padding-left: 1.2rem;
  padding-top: 1.3rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px #ddd;
  -o-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
}

/* line 1050, ../_scss/_custom.scss */
.media-box-container {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px transparent;
  -moz-box-shadow: 0 0px 0px transparent;
  -o-box-shadow: 0 0px 0px transparent;
  -ms-box-shadow: 0 0px 0px transparent;
  box-shadow: 0 0px 0px transparent;
}
