---
layout: default
---

<div class="small-12 columns">
  <div class="small-12 medium-12 large-8 columns">
    <div class="rowIndex">
      <h6>LATEST RELEASES</h6>
    </div>
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
      {% for post in site.categories.release limit: 9 %}
            {% if post.newest == true %} 
            <div class="row">
            <div class="small-12 columns newest">
              <div class="small-12 columns"><hr></div>
            
            
              <div class="small-12 medium-6 large-6 columns">
               <div class="tileblock">
               <a href="{{ post.url | prepend: site.baseurl }}">
                  <h1>{{ post.title | strip_html | truncatewords:20  }}</h1>
                  <h6>{{post.artist}} | {{post.subtitle}} | {{post.code}}</h6>
               </a> 
                    
                      <p>{{ post.content | strip_html | truncatewords:80 }}</p>
               </div>
              </div> 
              <div class="small-12 medium-6 large-6 columns">
                <a href="{{ post.url | prepend: site.baseurl }}">
                {% if post.image contains 'http' %}

                  <img src="{{ post.image }}" alt="{{ post.name }}"/>
                      {% else %}
                  <img src="/img/{{ post.image }}" alt="{{ post.name }}"/>
                 
                {% endif %} 
                </a> 
            </div>    
              </div>  
            </div>      
            <br>
            {% else %}
              <li>
                <hr>
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <div class="tileblock">
                    <h5>{{ post.title | strip_html | truncatewords:20  }}</h5>
                    <p>{{post.artist}}</p>
                  </div>
                  {% if post.image contains 'http' %}
                      <img src="{{ post.image }}" alt="{{ post.name }}"/>
                    {% else %}
                      <img src="/img/{{ post.image }}" alt="{{ post.name }}"/>
                  {% endif %} 
                </a>
                <br>
              </li> 
            {% endif %}  
      {% endfor %}
    </ul>
    <a id="underline" href="/releases"><p>all releases</p></a>
  </div>

  <div class="small-12 medium-6 large-2 columns">
    <a href="{{ site.baseurl }}/distro""><h6>DISTRO</h6></a>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-1">
    {% for post in site.categories.distro limit: 4%}
    <li>
     <hr>   
      <a href="{{ post.url | prepend: site.baseurl }}">
        <h5>{{ post.title }}</h5>
        {% if post.image contains 'http' %}
          <div class="imageblockDistroIndex">
            <img src="{{ post.image }}" alt="{{ post.name }}"/>
            {% else %}
            <img src="/img/{{ post.image }}" alt="{{ post.name }}"/>
          </div>  
        {% endif %}
      </a>
    </li>  
    {% endfor %}
    </ul>
    <a id="underline" href="/distro"><p>all distro</p></a>
  </div>

  <div class="small-12 medium-6 large-2 columns">
    <a href="{{ site.baseurl }}/blog""><h6>BLOG</h6></a>
    {% for post in site.categories.blog limit: 8 %}    
      <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
      <li>
      <hr>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h5>{{ post.title }}</h5>
          <p><i>{{ post.date | date: "%b %-d, %Y" }}</i></p>
          <!--{% if post.image contains 'http' %}
              <img class="th" src="{{ post.image }}" alt="{{ post.name }}"/>
              {% else %}
              <img class="th" src="/img/{{ post.image }}" alt="{{ post.name }}"/>
          {% endif %}
           <br>
          <p class="text-justify">{{ post.content | strip_html | truncatewords:20 }} <strong>more</strong> >></p> -->
        </a>
      </li>
      </ul>
    {% endfor %}
    <a id="underline" href="/blog"><p>all blog entries</p></a>
  </div>
</div>

<div class="subscribe-me">
<a href="#close" class="sb-close-btn"><strong>X</strong></a>
  <img src="/img/coward.svg">
       <br>
       <h5>Subscribe to our newsletter,<br>Join our inner circe</h5>
       <form style="padding:3px;text-align:left;" action="https://tinyletter.com/coward" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/coward_records', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

          <div class="small-12 columns nomargin">
            <input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address"/>
          </div>
          <div class="small-6 small-centered columns">
          <input type="hidden" value="1" name="embed"/>
          <input  class="button tiny"  style="width:100%; background-color: black; ;font-size: 120%; margin-left: 0px; margin-top: 10px; padding:3;" type="submit" value="Subscribe" />
          </div>
       </form>
    </div>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    $(".subscribe-me").subscribeBetter();
  });
</script>