---
layout: manteniance
title: Coward Records
summary: Coward Records - ATMOSFERA
---

<div id="homepage">
  <div class="grid">
    <div class="grid-sizer"></div>
    {% for post in site.categories.release %}
      {% if post.homepage %}
        <div class="grid-item {% if post.homesmall %} grid-item-2 {% endif %} {% if post.homebig %} grid-item-3 {% endif %}">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.cover contains 'http' %}
              <img class="indeximg" src="{{ post.image }}" alt="{{ post.slug }}"/>
                {% else %}
              <img class="indeximg" src="/img/{{ post.image }}" alt="{{ post.slug }}"/>
            {% endif %}
              <div class="middle">
                <div class="text">
                  <div class="tileblock">
                    <h3>{{ post.slug | strip_html | truncatewords:20  }}</h3>
                    {% if post.artist %}{{post.artist}} {% else %}{% endif%}
                    {% if post.sku %}<h6>{{post.sku}}</h6> {% endif%}
                  </div>
                </div>
              </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
    <div class="grid-item">
          <a href="{{ site.baseurl }}/breakfastclub">
              <img src="/img/breakfast.jpg" alt="breakfastclub"/>
          </a>
        </div>
  </div>
</div>