---
layout: default
title: Coward Records
summary: Coward Records - ATMOSFERA
bgimage: homepage.jpg
molkkybgimage: molkky-bg.jpg
sentence1: hello!
sentence2: welcome to our official web store
sentence3: this is all I wanted to say 
sentence4: with this nice typewriter effect
sentence5: now I will start over again...
bgvideo: 
---

<div id="indexHeader" {% if page.bgimage contains 'http' %} style="background-image: url({{ page.bgimage }})" {% else %} style="background-image: url(/img/{{ page.bgimage }})" {% endif %}> 
  {% if page.bgvideo %}
    <video autoplay muted loop  poster="/img/{{ page.poster }}" id="myVideo">
       <source src="/video/{{page.bgvideo}}" type="video/mp4">
    </video>
  {% endif %}


  <h1>
    <a class="typewrite randomcolor" data-period="2000" data-type='[ "{{ page.sentence1 }}", "{{page.sentence2}}", "{{page.sentence3}}", "{{page.sentence4}}", "{{page.sentence5}}" ]'>
      <span class="wrap"></span>
    </a>
  </h1>

</div> 
  

<div id="homepage">
    {% for post in site.categories.release %}
    <div>
      
      {% if post.homepage %}
          <hr>
         
            <div class="small-6 medium-4  large-2 columns">
              <div class="verticaltext">
                  <h6>{{ post.date | date: "%-d %B %Y" }}</h6>
              </div>
              <ul class="clearing-thumbs small-block-grid-2" >  
                  {% if post.cover contains 'http' %}
                  <li><img class="indeximg" src="{{ post.image }}" alt="{{ post.slug }}"/></li>
                    {% else %}
                  <li><img class="indeximg" src="/img/{{ post.image }}" alt="{{ post.slug }}"/></li>
                  {% endif %}
                  {% if post.imagethumb %}
                      {% for item in post.imagethumb %}
                      {% if item.link contains 'http' %}
                            <li><img src="{{ item.link }}" alt="{{ post.subtitle }}"/></li>
                            {% else %}
                            <li><img src="/img/{{ item.link }}" alt="{{ post.subtitle }}"/></li>
                            {% endif %}
                          {% endfor %}
                      {% else%}	
                  {% endif%}   
              </ul>
            </div>

            <div class="hide-for-small-only medium-4 large-4 columns">
              <a href="{{ post.url | prepend: site.baseurl }}">{% if post.content %}<p>{{post.content | strip_html | truncatewords: 40, "  ➥"}}</p> {% endif%}</a>
            </div>

            <div class="small-6 medium-4  large-6 columns textblock">
                <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.slug | strip_html | truncatewords: 20  }}</h3></a>
                <hr/>
                <a href="{{ post.url | prepend: site.baseurl }}">{% if post.artist %}<h6>{{post.artist}}</h6><hr/>{% else %}{% endif%}</a>
                <a href="{{ post.url | prepend: site.baseurl }}">{% if post.sku %}<h6>{{post.sku}}</h6> {% endif%}</a>
            </div> 

      </div>
      {% endif %}
      
    {% endfor %}
    <hr/>
    <!-- <div class="row">
      <a href="{{ site.baseurl }}/breakfastclub">
        <img src="/img/breakfast.jpg" alt="breakfastclub"/>
      </a>
    </div> -->
</div>
<section id="distro"><!-- distro section -->
  <!-- <hr>
  <h3 class="randomcolor text-center">distro</h3>
  <hr> -->
  <div class="slickdistro">
     {% for post in site.categories.distro %} 
    <div class="subpanel">
     <a href="{{ post.url | prepend: site.baseurl }}">
          {% if post.image contains 'http' %}
              <img class="itemborder" src="{{ post.image }}" alt="{{ post.tile }}"/>
            {% else %}
              <img class="itemborder" src="/img/distro/{{ post.image }}" alt="{{ post.tile }}"/>
          {% endif %}
         {% if post.soldout == true %}
          <p class="text-center soldout">sold out</p>
          {% else %}
          <p class="text-center">{{ post.price }} EU</p>   
         {% endif %}
        </a>  
    </div>
     {% endfor%} 
  </div>
</section>



  <!-- MOLKKY section -->
<section id="molkky">
    <div id="indexmolkkyHeader" {% if page.molkkybgimage contains 'http' %} style="background-image: url({{ page.molkkybgimage }})" {% else %} style="background-image: url(/img/{{ page.molkkybgimage }})" {% endif %}> 
      <div class="molkycontent">
        <!-- <a href="{{ "/mölkky" | prepend: site.baseurl }}"> -->
        <h1 class="randomcolor"><strong>Join our Mölkky League</strong></h1>
          <h6 class="randomcolor"> <strong>Coward Records Mölkky League</strong></h6>
          <br>
          <!-- <a href="/mölkky/">-->
            <button class="randomcolor randomcolorbrd">
              More info coming soon...
            </button>
          <!-- </a> -->
        <!-- </a> -->
       </div>  
    </div>
</section>
  

  {% include subscribemodal.html %}


