<footer class="hide-for-small-only">
 <div class="footer">
 	<div class="row">
 	<hr>
 	<div class="large-2 small-12 medium-12 show-for-large-up columns">
 		<div class="small-6 columns"><img id="footerlogo" src=" /img/logo_vert.png" alt="{{ site.title }}"></div>
 		<div class="small-6 columns"><img src=" /img/rolling.gif" ></div>

 	</div>
 	<div class="large-4 small-12 medium-6  columns">
 	  <h5>contacts</h5>
 	  
 	  <hr>
 	  <div class="small-4  large-6 columns nomargin">
		  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
		  <p>{{ site.description }}</p>
	  </div>
	  <div class="small-6 large-6 columns">
	        <div id="typed-strings">
	          <p>hi, it's nice to see you here</p>
	          <p>feel free to write us for any questions...</p>
	          <p>if you wanna stay update</p>
	          <p>sign up for our newsletter --> </p>
	        </div>
        	<span id="typed"></span>
	  </div>
	</div>  

	<div class="large-6 small-12 medium-6 columns">
	   <h5>newsletter</h5>
	   
 	   <hr>
	   <form style="padding:3px;text-align:left;" action="https://tinyletter.com/coward" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/coward_records', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

		   	<div class="small-8 columns nomargin">
		   		<input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address"/>
		   	</div>
		   	<div class="small-4 columns">
		   	<input type="hidden" value="1" name="embed"/>
		   	<input  class="button tiny"  style="width:100%" type="submit" value="Subscribe" />
		   </div>
	   	</form>
   	</div>
   	</div>
 </div>        
</footer>

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/typed.js"| prepend: site.baseurl }}"></script>
<script>
$(function(){
    $("#typed").typed({
        stringsElement: $('#typed-strings'),
        backDelay: 2500,
        loop: true
    });
});
</script>

<!-- Media Boxes JS files -->
      <script src="../plugin/js/jquery.isotope.min.js"></script>
      <script src="../plugin/js/jquery.imagesLoaded.min.js"></script>
      <script src="../plugin/js/jquery.transit.min.js"></script>
      <script src="../plugin/js/jquery.easing.js"></script>
      <script src="../plugin/js/waypoints.min.js"></script>
      <script src="../plugin/js/modernizr.custom.min.js"></script>
      <script src="../plugin/js/jquery.magnific-popup.min.js"></script>
      <script src="../plugin/js/jquery.mediaBoxes.js"></script>

      <script>

          $('#grid').mediaBoxes({
            filterContainer: '#filter',
            columns: 5,
            boxesToLoadStart: 10,
            boxesToLoad: 5,
            horizontalSpaceBetweenBoxes: 10,
              verticalSpaceBetweenBoxes: 10,
            search: '#search',
            searchTarget: '.maintitle',
          }); 

      </script>
<!-- Media Boxes JS files -->