<div class="footer">
   	<div class="large-2 small-12 medium-12 columns show-for-large-up">
    	<h5><br></h5>
    	<hr>
		<div class="text-center hide-for-small-only">
			<img src=" /img/rolling_black.gif" alt="logo roll" >
		</div>
   	</div>
   	<div class="large-6 small-12 medium-6  columns">
   	  <h5>contacts</h5> 
   	  <hr>
   	  <div class="small-12  large-6 columns nomargin">
  		<a href="mailto:{{ site.email }}">{{ site.email }}</a>
  		<p>{{ site.description }}</p>
  	  </div>
	  <div class="small-12 large-6 columns nomargin">
		<hr class="show-for-small-only">
		<p><a href="https://www.instagram.com/cowardrecords/">Instagram</a></p>      
	  </div>
  	</div>  

  	<div class="large-4 small-12 medium-6 columns">
       <hr class="show-for-small-only">
  	   <h5>newsletter</h5> 
   	   <hr>
  	   <form style="padding:3px;text-align:left;" action="https://tinyletter.com/coward" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/coward_records', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  		   	<div class="small-8 columns nomargin">
  		   		<input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address"/>
  		   	</div>
  		   	<div class="small-4 columns">
  		   		<input type="hidden" value="1" name="embed"/>
					 <!-- <input  class="button"  style="width:100%; background-color: white; color:inherit; font-size: 130%; margin-left: 0p; padding:0; margin-top:5px;" type="submit" value="Subscribe" /> -->
					 <button style="margin-left: 0p; padding:0.45rem; " type="submit" value="Subscribe" >Subscibe</button>

  		    </div>
  	   </form>
    </div>  
    <hr>
	<div class="row cookie">
		<div class="small-12 medium-9 columns">
			<h6 class="cookieone">By clicking “accept” you agree to the use of cookies and other similar technologies to enhance your browsing experience, analyse and measure your engagement with our content. You can withdraw your consent at any time.
			 You will find more information setting here: | <a href="{{ site.baseurl }}/privacycookiepolicy" >privacy & cookie policy</a></h6>
		</div>
		<div class="small-12 medium-3 columns">
			<button class="button tiny" id="accept">Accept</button>
			<button class="button tiny" id="deny">Deny</button>
		</div>
	</div>
</div> 