<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.summary %}
  <meta name="description" content="{{ page.summary | escape }}">
  {% endif %}
  {%if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
  {%endif %}

  <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
  
  <!-- modal -->
  <link rel="stylesheet" type="text/css" href="{{ "/css/subscribe-better.css" | prepend: site.baseurl }}">
  <script type="text/javascript" src="{{ "/js/jquery.subscribe-better.js" | prepend: site.baseurl }}"></script>
  
  <!-- scroll reveal JS -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <!-- <script>
      ScrollReveal({ reset: true });
  </script> -->
  
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> 

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- MEDIA BOX -->
  <link rel="stylesheet" type="text/css" href="{{ "/plugin/css/mediaBoxes.css" | prepend: site.baseurl }}">
  <!-- MEDIA BOX  end-->

  <!-- SNIPCART-->
  
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MGMyYTVjOGQtNjgyNS00NmFkLWIzZWYtY2M4NDAyOWI5M2M5NjM2ODA5MDA4OTg0OTc5NDk4"></script>
  <script>Snipcart.execute('config', 'show_continue_shopping', true);</script>
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />

  {% include opengraph.html %}
</head>