<header>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">

      <ul class="title-area">

        <li class="name">
          <h1><a href="{{ site.baseurl }}/">  <img id="logo" src="/img/logo.png" alt="{{ site.title }}"> </a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="left">
          {% for link in site.data.navigation.masthead %}    
           <li> <a href="{{ link.url | prepend: site.baseurl }}"> {{ link.title }} </a></li>
          {% endfor %}
          <li id="c">
            <div ID="Cart" CLASS="CartEmpty" ONCLICK="Checkout.cart.purchase('QNYVK3UVVQ25LEAAM5ZG201',true); return false;">
              <div ID="CartCount" CLASS="CartEmptyNumber NoSelect" STYLE="position:absolute; margin-left:28px;"></div>
              <div STYLE="position:absolute; margin-top:2px;"><span><img class="icoCart" src="/img/cart.svg" alt="cart"></span></div>
            </div>
          </li>
          
        </ul>
        
        <ul class="right">
          <li><a href="{{ site.baseurl }}/breakfastclub">breakfast club</a></li>
        </ul>


      </section>
    </nav>
  </div>
</header>