<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.summary %}
  <meta name="description" content="{{ page.summary | escape }}">
  {% endif %}
  {%if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
  {%endif %}
  
  {% if page.layout == 'amazon' %}
    <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon-amz.png" | prepend: site.baseurl }}">
    {% else %}
    <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
  {% endif %}
  {% if page.title == 'Breakfast Club' %}
    <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon_bc.png" | prepend: site.baseurl }}">
    {% else %}
    <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
  {% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
  
  <!-- modal -->
  <script type="text/javascript" src="{{ "plugin/js/jquery.subscribe-better.js" | prepend: site.baseurl }}"></script>
  
  <!-- scroll reveal JS -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <!-- <script>
      ScrollReveal({ reset: true });
  </script> -->
  
  <!-- google font 
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> 
  -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


  {%if page.title == "Releases" or page.title == "Distro" %}
  <!-- MEDIA BOX -->
  <link rel="stylesheet" type="text/css" href="{{ "/plugin/css/mediaBoxes.css" | prepend: site.baseurl }}">
  <!-- MEDIA BOX  end-->
  {% endif %}
    
  <link rel="stylesheet" type="text/css"  href="{{"/plugin/css/slick.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{"/plugin/css/slick-theme.css" | prepend: site.baseurl }}">


  <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
  
  <!-- scroll animation -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


  {% include opengraph.html %}
</head>