<header>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">

      <ul class="title-area">

        <li>
         <a href="{{ site.baseurl }}/">  <span> <img id="logo" src="/img/logo.png"> </span> </a>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="left">
          {% for link in site.data.navigation.masthead %}    
           <li> <a href="{{ link.url | prepend: site.baseurl }}"> {{ link.title }} </a></li>
          {% endfor %}
           <li class="show-for-small-only"><a href="{{ site.baseurl }}/breakfastclub">breakfast club</a></li>
          <li>
              <!-- <div ID="Cart" CLASS="CartEmpty" ONCLICK="Checkout.cart.purchase('QNYVK3UVVQ25LEAAM5ZG201',true); return false;">
                <span STYLE="margin-top:2px;"><span><img class="icoCart" src="/img/cart.svg" alt="cart"></span></span>
                <span ID="CartCount" CLASS="CartEmptyNumber NoSelect randomcolor" STYLE=" margin-left:5px;"></span>   
              </div> -->
              <a href="#" class="snipcart-checkout"><img class="icoCart" src="/img/cart.svg" alt="cart"> <span class="snipcart-summary"><span class="snipcart-total-items randomcolor" STYLE=" margin-left:5px;"></span></span></a>

          </li>
          
        </ul>
        
        <ul class="right hide-for-small-only">
          <li><a href="{{ site.baseurl }}/breakfastclub" class="randomcolor">breakfast club</a></li>
        </ul>


      </section>
    </nav>
  </div>
</header>