<head>
  <meta charset="utf-8">
  <meta name='author' content='lcsrbn'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.summary %}
  <meta name="description" content="{{ page.summary | escape }}">
  {% endif %}
  {%if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
  {%endif %}
  
  {% if page.layout == 'amazon' %}
    <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon-amz.png" | prepend: site.baseurl }}">
    {% else %}
    <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
  {% endif %}
  {% if page.title == 'Breakfast Club' %}
    <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon_bc.png" | prepend: site.baseurl }}">
    {% else %}
    <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
  {% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{'/feed.xm' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{'/css/app.css' | prepend: site.baseurl }}">
  
</head>