<meta property="og:title" content='{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %} {% if page.artist %} - {{ page.artist }} {% else %} {% endif %}' />
<meta property="og:type" content="website" />
<meta property="og:image" content='{% if page.thumbnail %}{% if page.thumbnail contains 'http' %}{{ page.thumbnail }} {% else %}{{site.url}}/img/{{ page.thumbnail }} {% endif %} {% else %}http://cowardrecords.com/img/coward.png{% endif %}'>

{% if page.title == 'home' %}
    <meta property="og:description" content="Atmosfera"/>
{% else %}
	<meta property="og:description" content=" {% if page.summary %} {{ page.summary }} {% else %} Atmosfera {% endif %} " />
{% endif %}