<div class="row">
	{% if page.title == "Glow" %}
	<div class="small-6  columns">
		<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="TZGKKC4W35J9C">
			<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
			<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
		</form>
	{% endif %}
</div>

<div class="row">
	{% if page.title == "Inferno a rotta di collo" %}
	<div class="small-6  columns">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="Y8T6SAK2HBS7Q">
			<input type="hidden" name="on0" value="Ship to">Ship to<select name="os0">
				<option value="Italy">Italy €23,00 EUR</option>
				<option value="Europe">Europe €29,00 EUR</option>
				<option value="Rest of the world">Rest of the world €33,00 EUR</option>
			</select>
			<input type="hidden" name="currency_code" value="EUR">
			<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
		</form>

{% endif %}
</div>

<div class="row">
	{% if page.title == "Matilde" %}
	<div class="small-6  columns">
	  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="QKH9MUMV4MPLQ">
		<input type="hidden" name="on0" value="Ship to">Ship to<select name="os0">
			<option value="Italy">Italy €18,00 EUR</option>
			<option value="Europe">Europe €24,00 EUR</option>
			<option value="Rest of the world">Rest of the world €28,00 EUR</option>
		</select>
		<input type="hidden" name="currency_code" value="EUR">
		<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	  </form>
	{% endif %}
</div>

<div class="row">
	{% if page.title == "Velvet Dress" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="FNJU7P46BMYH8">
        <input type="hidden" name="on0" value="Ship to">Ship to<select name="os0">
			<option value="Italy">Italy €18,00 EUR</option>
			<option value="Europe">Europe €24,00 EUR</option>
			<option value="Rest of the world">Rest of the world €28,00 EUR</option>
		</select>
		<input type="hidden" name="currency_code" value="EUR">
		<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	{% endif %}
</div>

<div class="row">
	{% if page.title == "NO FRIENDS (maga)zine #02" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="6WC8HK75TND2S">
		<input type="hidden" name="on0" value="Ship to">Ship to<select name="os0">
			<option value="Italy">Italy €16,50 EUR</option>
			<option value="Europe">Europe €20,50 EUR</option>
			<option value="Rest of the world">Rest of the world €23,50 EUR</option>
		</select>
		<input type="hidden" name="currency_code" value="EUR">
		<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	{% endif %}
</div>

<div class="row">
	{% if page.title == "NO FRIENDS (maga)zine #03" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="6CM6X6EPQSKPA">
		<input type="hidden" name="on0" value="Ship to">Ship to<select name="os0">
			<option value="Italy">Italy €16,50 EUR</option>
			<option value="Europe">Europe €20,50 EUR</option>
			<option value="Rest of the world">Rest of the world €23,50 EUR</option>
		</select>
		<input type="hidden" name="currency_code" value="EUR">
		<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
    </form>
	{% endif %}
</div>

<div class="row">
	{% if page.title == "Maximum Rocknroll #398" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="ZBDMDN2D74H5U">
		<input type="hidden" name="on0" value="Ship to">Ship to<select name="os0">
			<option value="Italy">Italy €13,50 EUR</option>
			<option value="Europe">Europe €15,50 EUR</option>
			<option value="Rest of the world">Rest of the world €21,00 EUR</option>
		</select>
		<input type="hidden" name="currency_code" value="EUR">
		<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	{% endif %}
</div>

<div class="row">
	{% if page.title == "Maximum Rocknroll #399" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="6HMT4M7S32FCC">
		<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
			<option value="Italy">Italy €13,50 EUR</option>
			<option value="Europe">Europe €15,50 EUR</option>
			<option value="Rest of the world">Rest of the world €21,00 EUR</option>
		</select>
		<input type="hidden" name="currency_code" value="EUR">
		<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	{% endif %}
</div>



<div class="row">
	{% if page.title == "Be Forest T-shirt" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="F28VK88LP6BFC">
	<input type="hidden" name="on1" value="Size">Size<select name="os1">
		<option value="S">S </option>
		<option value="M">M </option>
		<option value="L">L </option>
	</select>
	<input type="hidden" name="on0" value="Ship to">Ship to<select name="os0">
		<option value="Italy">Italy €18,00 EUR</option>
		<option value="Europe">Europe €24,00 EUR</option>
		<option value="Rest of the world">Rest of the world €28,00 EUR</option>
	</select> 

	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>
	{% endif %}
</div>

<div class="row">
	{% if page.title == "Suboxone" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="V9NPAYL99LCHY">
	<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
		<option value="Italy">Italy €9,00 EUR</option>
		<option value="Europe">Europe €10,00 EUR</option>
		<option value="Rest of the world">Rest of the world €11,00 EUR</option>
	</select>
	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>
	{% endif %}
</div>


<div class="row">
	{% if page.title == "Maximum Rocknroll #400" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="RMLSCUPTKUA8Y">
	<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
		<option value="Italy">Italy €13,50 EUR</option>
		<option value="Europe">Europe €15,50 EUR</option>
		<option value="Rest of the world">Rest of the world €21,00 EUR</option>
	</select>
	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>
{% endif %}
</div>

<div class="row">
	{% if page.title == "Maximum Rocknroll #401" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="HH9NQ5CEGDKAG">
	<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
		<option value="Italy">Italy €13,50 EUR</option>
		<option value="Europe">Europe €15,50 EUR</option>
		<option value="Rest of the world">Rest of the world €21,00 EUR</option>
	</select>
	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>
{% endif %}
</div>

<div class="row">
	{% if page.title == "Maximum Rocknroll #402" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="MJEKT7FL8SEBY">
	<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
		<option value="Italy">Italy €13,50 EUR</option>
		<option value="Europe">Europe €15,50 EUR</option>
		<option value="Rest of the world">Rest of the world €21,00 EUR</option>
	</select>
	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>
{% endif %}
</div>


<div class="row">
	{% if page.title == "Maximum Rocknroll #403" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="GTFWG3WH35LUQ">
	<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
		<option value="Italy">Italy €13,50 EUR</option>
		<option value="Europe">Europe €15,50 EUR</option>
		<option value="Rest of the world">Rest of the world €21,00 EUR</option>
	</select>
	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>

{% endif %}
</div>

<div class="row">
	{% if page.title == "Maximum Rocknroll #404" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="EFSEF5PA9XE8G">
	<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
		<option value="Italy">Italy €13,50 EUR</option>
		<option value="Europe">Europe €15,50 EUR</option>
		<option value="Rest of the world">Rest of the world €21,00 EUR</option>
	</select> 
	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>
{% endif %}
</div>

<div class="row">
	{% if page.title == "Petite Wunderkammer" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="DFZDGV2FYRCDE">
	<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
		<option value="Italy">Italy €26,00 EUR</option>
		<option value="Europe">Europe €32,00 EUR</option>
		<option value="Rest of the world">Rest of the world €36,00 EUR</option>
	</select> 
	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>
{% endif %}
</div>

<div class="row">
	{% if page.title == "Special Kids Anyway" %}
	<div class="small-6  columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="YRVJGJ5E36RCS">
	<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
		<option value="Italy">Italy €9,00 EUR</option>
		<option value="Europe">Europe €10,00 EUR</option>
		<option value="Rest of the world">Rest of the world €11,00 EUR</option>
	</select> 
	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>
{% endif %}
</div>

<div class="row">
	{% if page.title == "Yourselfie" %}
	<div class="small-6 columns">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="DP4LRTY9Z8DZY">
	<input type="hidden" name="on0" value="Ship to">Ship to</td></tr><tr><td><select name="os0">
		<option value="Italy">Italy €9,00 EUR</option>
		<option value="Europe">Europe €10,00 EUR</option>
		<option value="Rest of the world">Rest of the world €11,00 EUR</option>
	</select> 
	<input type="hidden" name="currency_code" value="EUR">
	</div>
	<div class="small-6 columns">
	<br>
	<input type="image" class="buttonPaypall" src="/img/buttonpay_white.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>
   {% endif %}
</div>
