<div class="stik bottomMenu">
	<div  data-options="sticky_on: large">
	 <h2 class="randomcolor" item_price">{{ page.price }} {% if page.price != null %}€{% endif %}</h2>

		{% if page.select %}
			<div class="inlinelist">
				<ul class="inline-list">
			    <li id="margin">Select</li>
				{% for item in page.select %}
			        <span><li><INPUT TYPE="radio" NAME="select" VALUE="{{item.value}}"> {{item.value}} </li></span>
		  		{% endfor %}
				</ul>
			</div>
		{% else %}
			<INPUT style="display: none" TYPE="radio" NAME="select" VALUE="default">
		{% endif %}
		
		<!-- <span>
			<SELECT ID="quantity">
				<OPTION VALUE="1" SELECTED>1</OPTION>
				<OPTION VALUE="2">2</OPTION>
				<OPTION VALUE="3">3</OPTION>
				<OPTION VALUE="4">4</OPTION>
				<OPTION VALUE="5">5</OPTION>
			</SELECT>
		</span>
		<span>
		<a HREF="#" ONCLICK="Checkout.cart.add('{{ page.idcart }}', getRadioButton('select'), getDropdownText('quantity'), 'remove'); return false; "><button class="button tiny randomcolorbtn">Add Product</button></a>
		<a class="randomcolor" HREF="#" ONCLICK="Checkout.cart.clear(); return false;">Clear Cart</a> | 
		<a class="randomcolor" HREF="#" ONCLICK="Checkout.cart.purchase('QNYVK3UVVQ25LEAAM5ZG201', true); return false;">Purchase</a>
		</span>	 -->

		<button class="snipcart-add-item randomcolorbtn"
		      data-item-name="{{ page.name }}"
		      data-item-id="{{ page.sku }}"
		      data-item-image="{{ page.image }}"
		      data-item-url="{{ page.url }}"
		      data-item-price="{{ page.price }}">
		      Shop Now 
		</button>
		</div>
	</div>
		
