<h3>{{ page.price }} {% if page.price != null %}€{% endif %}</h3>

{% if page.select %}
	<div class="inlinelist">
		<ul class="inline-list">
	    <li id="margin">Select</li>
		{% for item in page.select %}
	        <span class="options">{{item.value}} <input type="radio" name="options" value="{{item.value}}" onclick="showBuy();"> </span>
  		{% endfor %}
		</ul>
	</div>
	<div id="buy-options">
		<a href="https://www.snappycheckout.com/pay?{{ page.shop }}">[Buy Now]</a> or
		<a onclick="Checkout.cart.add('{{ page.shop }}', getRadioButton('options'), 'remove'); return false;">[Add to Cart]</a>	
	</div>
{% else %}
	<input style="display: none" type="radio" name="options" value="default">
	<div id="buy">
		<a href="https://www.snappycheckout.com/pay?{{ page.shop }}">[Buy Now]</a> or
		<a onclick="Checkout.cart.add('{{ page.shop }}', getRadioButton('options'), 'remove'); return false;">[Add to Cart]</a>	
	</div>
{% endif %}