<br>
<div class="subscribe-me">
<a href="#close" class="sb-close-btn"><strong>X</strong></a>
  <img src="/img/coward.svg">
       <br>
       <h5>Subscribe to our newsletter,<br>Join our inner circle</h5>
       <form style="padding:3px;text-align:left;" action="https://tinyletter.com/coward" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/coward_records', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

          <div class="small-12 columns nomargin">
            <input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address"/>
          </div>
          <div class="newsbtn">
          <input type="hidden" value="1" name="embed"/>
          <input  class="button tiny"  style="width:100%; background-color: black; ;font-size: 120%; margin-left: 0px; margin-top: 10px; padding:3;" type="submit" value="Subscribe" />
          </div>
       </form>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    $(".subscribe-me").subscribeBetter({
      trigger: "atendpage",
      showOnce: true
    });
  });
</script>