// GENERAL

html{
  overflow-y: scroll; 
}

@font-face {
	font-family: 'NeueHaasGroteskText Pro Md';
	src: url('../font/NHaasGroteskTXPro-65Md.eot');
	src: url('../font/NHaasGroteskTXPro-65Md.eot?#iefix') format('embedded-opentype'),
		url('../font/NHaasGroteskTXPro-65Md.woff2') format('woff2'),
		url('../font/NHaasGroteskTXPro-65Md.woff') format('woff'),
		url('../font/NHaasGroteskTXPro-65Md.ttf') format('truetype'),
		url('../font/NHaasGroteskTXPro-65Md.svg#NHaasGroteskTXPro-65Md') format('svg');
	font-weight: 500;
	font-style: normal;
}

$row-maxwidth: 1280px;

img{
.cover{
	width:100%;
	height: auto;
	}
}

body{
	background: white;
	color: black;
	.contain-to-grid {
	 background: white;
	}

	.row {
	    max-width: $row-maxwidth;
	}

	hr{
		color: black;
	}

	/*font-family: 'Inconsolata', ;*/
	font-family: 'Work Sans', sans-serif;
	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		/*font-family: 'Montserrat', sans-serif;*/
		font-family: 'NeueHaasGroteskText Pro Md';
		text-transform: uppercase;
	}

	a{
		color: inherit;
		text-decoration: none;
	}
	
	a:hover{
		color: inherit;
	}

	a:visited{
	    color: inherit;
	}

}




.has-tip {
    border-bottom: dotted 1px white;
    color: white;
    cursor: help;
    font-weight: bold;

}
.stickyside {

  position: relative;
  top: 0; 
}


// HR

.separation{
	border: 0; height: 0.7px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-bottom: 80px;
	margin-top: 80px;
}


// NAVBAR
.top-bar {
    background: inherit;
    height: 2.8125rem;
    line-height: 2.8125rem;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}

.top-bar.expanded .title-area {

    background: inherit;

}

.contain-to-grid .top-bar {
 
 li{
 	background: inherit;
 	a{
 		font-family: 'NeueHaasGroteskText Pro Md';
		text-transform: uppercase;
		text-decoration: none;

	 }
 }

.top-bar-section ul li > a{
  background: inherit;
    color: inherit;
}

.top-bar-section ul li > a:hover {
	background: inherit;
    color: inherit;
    text-decoration: underline;
}

 margin: 0px auto;
 max-width: $row-maxwidth;

#logo{
 width: auto;
 max-height: 35px;
 }
   

 .left{
  	text-align: center;
  	margin-bottom: 10px;
  } 

 .right{
  margin-left: 50px;
 	padding-right: 12px;
 	text-align: center;
   li{
	   a{
		    text-decoration: underline;
	    }
     }	 		
 } 

 @media only screen and (max-width: 40em) { 
   .right{
  	margin-top:37px;     
 	} 

  } 

}

.top-bar .toggle-topbar.menu-icon a span::after {

    content: "";
    display: block;
    height: 0;
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 0.9375rem;
    box-shadow: 0 0 0 1px #000000, 0 7px 0 1px #000000, 0 14px 0 1px #000000;
    width: 16px;
}

// INDEX 

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- grid ---- */
#homepage{
.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


@media only screen and (max-width: 40em) {
  .grid-item,
.grid-sizer {
  width: 50%;
}
}


}

.rowIndex{
	padding-left: 0.3rem;
}
.newest{
	padding-right: 0.7rem;
}

.tileblock{
	min-height: 90px;
}

#underline{
	text-decoration: underline;
}

.media-boxes-no-more-entries{
   display: none;
}

// BLOG
.blog{

	@media only screen and (min-width: 64.063em) {
	max-width: 80%;
    margin-right: auto;
	margin-left: auto;}	

}

.icoClock{
	width: 14px;
	height: auto;
	color: inherit;
}

.blogtext{
	h1,h2,h3,h4,h5,h6{
		text-decoration: none;
		text-transform: none;
	}
	p{
	font-family: 'Crimson Text', serif;
	font-size: 17px;
	
		.small{
         font-size: 12px;
		}
    }
}

#blogHeader{
	padding: 195px 30px 65px;
	background-image: url("../img/bg-defauolt.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #0000;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	margin-bottom: 30px;

	.testata {
		color: white;
		text-align:center;
		@media only screen and (min-width: 64.063em) {
		max-width: 80%;
		}

		margin-right: auto;
		margin-left: auto;
	}
}

.imageblockBlog{
	overflow: hidden;
    max-height: 140px;
	img{

	}
}

.imageblockDistro{
	overflow: hidden;
    max-height: 240px;

	img{

	}
}
.imageblockDistroIndex{
	overflow: hidden;
    max-height: 139px;
   
    @media only screen and (max-width: 40em) {
		max-height: 100%;
		}

	img{

	}
}

// ITEM

	.nomarginlarge{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		margin-top: 0px;

	}

@media only screen and (min-width: 64.063em) { 
	.nomarginlarge{
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		padding-top: 0px;
		margin-top: 0px;

	}

}


/*audioplayer*/

.bgplyer {
  height:  100vh;
  padding-top: 5rem;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

@font-face {
  font-family:"SSStandard";
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ss-standard.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}

.ss-icon,.ss-icon.ss-standard {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
    font-feature-settings: "liga","dlig";
}
.ss-icon,.ss-icon.ss-standard {
    font-family: "SSStandard";
}

figure#audioplayer { 

  background: white;
  overflow: hidden;
  width: 23rem;
  padding: 0;
  margin: 0 auto;
}
figure#audioplayer audio { width: 0; height: 0; }
figure#audioplayer figcaption { 
 /* width: 21.5rem; */
  font-size: 0;
  margin: .45rem; 
  /*background: #000;*/
  float: left; 
  border: 1px solid #555;
}
figure#audioplayer figcaption div { 
  /*background: #000;*/
  /*color: #fff;*/
  padding: .8rem;
  text-transform: uppercase; font-size: .8rem;
  display: inline-block;
}
figure#audioplayer figcaption div span { 
  display: block;
  font-size: 1.3rem;
  text-indent: 1rem; 
}
div#album { 
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  width: 100%; 
}
div#time { 
  width: 7.55rem;
  border-left: 1px solid #555; 
}
input#volumeSlider { 

  margin-left: 1rem; 
  width: 13rem;
  height: 25px;
  background: transparent;
  cursor: pointer;
}


figure#audioplayer button { 
  width: 3rem; 
  height: 3rem; 
  background: transparent;
  /*color: #fff; */
  border: none; 
}
#playback { 
  width: 100%;
  border-top: 1px solid #555;
  display: inline-block;
  clear: both; 
}
div#fader { 

  width: 100%;
  border-top: 1px solid #555;
  display: inline-block;
  
  input{
    margin-top: 30px;
  }

}

#playback progress { 
  margin-left: 1rem; 
  width: 13rem; 
  height: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*background-color: #888;*/
  border: none;
  color: red;
}
progress::-webkit-progress-bar, progress::-moz-progress-bar, progress::progress-bar {
  background: hsl(44,100%,44%);
}
progress::-webkit-progress-value { 
  background: hsl(44,100%,44%);
}

progress::-moz-progress-bar {
background-color: white;
}
@media screen and (max-width: 500px) {
  div#time { display: block !important; border-top: 1px solid #555; width: 100%; }
  figure#audioplayer { width: 100%; padding: .2rem; }
  figure#audioplayer figcaption div { padding: .4rem; }
}

@media screen and (max-width: 450px) {
figure#audioplayer { max-width: 430px; }
figure#audioplayer figcaption { max-width: 430px; }


}


@media screen and (max-width: 380px) {
figure#audioplayer { max-width: 360px;}
figure#audioplayer figcaption { max-width: 360px; }


}



.stik {
    position: fixed;
    display: none;
    bottom: 20%;
    width: 200px;
    z-index: 99;
    /*left: 1.8em;*/
    background: transparent;
}



@media only screen and (max-width: 40em) { 
   .stik{
   	 bottom: 35%;
	}
}



.itemtitle{
	min-height: 180px;
	
	
	h1, h2, h3, h4, h5, h6, p{
	overflow:visible;
	
    }
}

#lowest{
	z-index: -99;
}

img{
	width: 100%;
}

.logoTrama{
	max-width: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px; 

	animation: roll 20s infinite;
	animation-timing-function: linear;
    transform: rotate(360deg);

}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


#quantity{
max-width: 45px;
}

.inlinelist {
	ul{
		li{
			display: inline;
		}
	}

	#margin{
		margin-right: 20px;
	}
}

// bg full

.bgFullcolor{
	color: black;
	background: white;
	.textcont{
 	background: white;
 	padding: 3em;
 	
 	a{
 	color: black;
 	}
 	
 	h1,h2,h3,h4,h5,h6{
 	color: black;
 	font-family: 'NeueHaasGroteskText Pro Md';
 	}

 	p{
 	color: black;
 	font-family: 'Crimson Text', serif;
 	font-size: 1.5rem;
    }
 	
 	p::first-letter  {

    font-size: 8em;
    color: grey;
    font-weight: 700;
    display: inline-block;
    line-height: 1em;
    letter-spacing: 0.2em;
    float: left;
    width: 50%;
    line-height: 1;
    text-align: center;
    font-family: 'NeueHaasGroteskText Pro Md';
	}	

 }
 .imagecontent{

 	text-align: center;
 	img{
 		width: 100%;
 		max-width: 350px;
 	}
 }
}



.bgFullimage{
 .panel{
 	background: white;
 	padding: 3em;
 	p{
 	font-family: 'Crimson Text', serif;
 	font-size: 1.5rem;
    }
 	
 	p::first-letter  {

    font-size: 8em;
    color: #cd1232;
    font-weight: 700;
    display: inline-block;
    line-height: 1em;
    letter-spacing: 0.2em;
    float: left;
    width: 50%;
    line-height: 1;
    text-align: center;
    font-family: proxima-nova,sans-serif;
	}	

 }
}



.item{

	width: 100%;
	height: auto;
	min-width: 100%;

	min-height: 800px;

	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;

}

@media only screen and (max-width: 40em) { 
   .item{
   		min-height: 100px;
	}
} 

.soldout{
	text-decoration: line-through;
}
.buttonPaypall{
	max-height: 35px
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.clearing-assembled {

  .clearing-container {

    .carousel{
      margin-top: 0px;
    }
  }
}

.gallery{
  .clearing-thumbs, [data-clearing] {
    margin-left: -0.625rem;
  }
}

// CART

#Cart{
	text-align:center;
}
/*
#CartCount{
	text-align:center;
}*/


.icoCart{
  width: 19px;
  height: auto;

}


// THANKS
.blocktext {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

// ABOUT

.about{
	margin-top: 2%;
	margin-bottom: 4%;

}

// FOOTER

.footer{

	padding-top: 25px;


	img{
	max-width: 100px;
	}
}

.longdescriptionbox{
	max-height:250px;
	overflow:auto;
}

.nomargin{
	padding-left: 0px;
	padding-right: 0px;
}

.newsbtn{
	padding:3px;
	max-width: 120px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

//404
.centered{
  padding-top: 30px;
  text-align: center;
  svg{
  	max-width: 400px;
  }
  h1{
  	font-size: 120px;
  }
}

// SOCIAL SHARE

.share-page {
    color: inherit;

    a {
        font-weight: 700;
        color: inherit;

        &:hover {
            border-bottom: 1px dashed inherit;
        }
    }
}

// TYPE JS

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

// MODAL

/*=================================================
Class Definitions
=================================================*/


.sb {
  display: none;
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  width: 300px;
  height: auto;
  background: white;
  color: black;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 5px;
  box-shadow: 0 8px 12px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 8px 12px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 8px 12px rgba(0,0,0,0.9);
  z-index: 1999;
  opacity: 0;

  h1,h2,h3,h4,h5,h6{
  	text-transform: none;
  	text-decoration: none;
  }
}



.sb .sb-close-btn {
  position: absolute;
  right: 7px;
  top: 5px;
  color: black;
}

.sb.sb-withoverlay {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -250px;
}


.sb-open.sb-open-with-overlay {
  overflow: hidden;
}

.sb-open .sb-overlay {
  opacity: 1;
}

.sb-open .sb {
  opacity: 1;
}

.sb-overlay {
  height: 100%;
  width: 100%;
  background: rgba(10, 0, 20, 0.7);
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: auto;
}

.sb-close-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}



// custom

.code{

	padding-top: 50px;
	padding-bottom: 50px;
}