// GENERAL

$row-maxwidth: 1280px;

body{
	background: black;
	color: white;
	.row {
	    max-width: $row-maxwidth;

	}

	hr{
		color: white;
	}

	font-family: 'Inconsolata', ;
	
	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
	}

	a{
		color: inherit;
		text-decoration: underline;
	}
	a:hover{
		color: inherit;
	}
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 
   margin: 0px;
}

.generalconten{
	height: auto;

	margin: 0px;
	padding: 0px;
}


// NAVBAR
.contain-to-grid .top-bar {
 
 li{
 	a{
 		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		text-decoration: none;
	 }
 }
 
 margin: 0px auto;
 max-width: $row-maxwidth;

 #logo{
 width: auto;
 max-height: 35px;
 }
    
}

// INDEX 

#underline{
	text-decoration: underline;
}

// BLOG

#blogHeader{
	padding: 195px 30px 65px;
	background-image: url("../img/bg-defauolt.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #F4F0ED;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	margin-bottom: 30px;

	.testata {
		margin-right: auto;
		margin-left: auto;
	}
}


// ITEM

.item{

	width: 100%;
	height: auto;
	min-width: 100%;
	padding: 20px;
	min-height: 800px;
	background: black;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;

}

#text{
	background: white;
	color: black;
	padding: 50px;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// FOOTER

.footer{
	padding-top: 20px;
	word-break: break-all;
	background: black;
	margin:0px;


	img{
	max-width: 100px;
	}
}

// SOCIAL SHARE

.share-page {
    color: inherit;

    a {
        font-weight: 700;
        color: inherit;

        &:hover {
            border-bottom: 1px dashed inherit;
        }
    }
}
