// GENERAL

$row-maxwidth: 1280px;

body{
	background: black;
	color: white;
	.row {
	    max-width: $row-maxwidth;

	}

	hr{
		color: white;
	}

	font-family: 'Inconsolata', ;
	
	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
	}

	a{
		color: inherit;
		text-decoration: underline;
	}
	
	a:hover{
		color: inherit;
	}

	a:visited{
	    color: inherit;
	}
}

.stickyside {

  position: relative;

  top: 0; 
}


.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 
   margin: 0px;
}

.nomargin{
	padding-left: 0px;
	padding-right: 0px;
	matgin-left: 0px;
	margin-right: 0px;
}

.generalconten{
	height: auto;

	margin: 0px;
	padding: 0px;
}

.soldout{
	text-decoration: line-through;
}

// NAVBAR
.contain-to-grid .top-bar {
 
 li{
 	a{
 		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		text-decoration: none;
	 }
 }
 
 margin: 0px auto;
 max-width: $row-maxwidth;

 #logo{
 width: auto;
 max-height: 35px;
 }
    
}

// INDEX 



#underline{
	text-decoration: underline;
}

// BLOG
.blog{

	@media only screen and (min-width: 64.063em) {
	max-width: 80%;
    margin-right: auto;
	margin-left: auto;}	
}

#blogHeader{
	padding: 195px 30px 65px;
	background-image: url("../img/bg-defauolt.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #0000;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	margin-bottom: 30px;

	.testata {
		text-align:center;
		@media only screen and (min-width: 64.063em) {
		max-width: 80%;
		}

		margin-right: auto;
		margin-left: auto;
	}
}

.recent-post{
	a{
		text-decoration: none;
			h4{
				text-decoration: underline;
				color: grey;
			}
			img{
				display: none;
			}
			p{
				color: grey;
				i{
					display: none;
					color: grey;
				}
			}
			strong{
				text-decoration: underline;
				color: grey;
			}
	}
}

	
.recent-post a:hover h4{
	animation: anim 0.2s;
	-o-animation: anim 0.2s;
	-ms-animation: anim 0.2s;
	-webkit-animation: anim 0.2s;
	-moz-animation:anim 0.2s;
	color: white;

}
.recent-post a:hover i {
	display: block;
	animation: anim 0.2s;
	-o-animation: anim 0.2s;
	-ms-animation: anim 0.2s;
	-webkit-animation: anim 0.2s;
	-moz-animation:anim 0.2s;
	color: white;
}
.recent-post a:hover img {
	display: block;
	animation: anim_top 0.3s;
	-o-animation: anim_top 0.3s;
	-ms-animation: anim_top 0.3s;
	-webkit-animation: anim_top 0.3s;
	-moz-animation:anim_top 0.3s;
}
.recent-post a:hover p {
	animation: anim 0.4s;
	-o-animation: anim 0.4s;
	-ms-animation: anim 0.4s;
	-webkit-animation: anim 0.4s;
	-moz-animation:anim 0.4s;
	color: white;
}
.recent-post a:hover p strong {
	animation: anim 0.9s;
	-o-animation: anim 0.9s;
	-ms-animation: anim 0.9s;
	-webkit-animation: anim 0.9s;
	-moz-animation:anim 0.9s;
	color: white;
}
@keyframes anim {
	from {
		opacity: 0;			
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
		}
	to {
		opacity: 1;
		-ms-transform: translateX(0);
        transform: translateX(0);
		}
}


@keyframes anim_top {
		from {
			opacity: 0;
			-ms-transform: translateY(100%);
            transform: translateY(100%);
			}
		to {
			opacity: 1;
			-ms-transform: translateY(0);
            transform: translateY(0);
			}
	}


// ITEM

.item{

	width: 100%;
	height: auto;
	min-width: 100%;
	padding: 20px;
	min-height: 800px;
	background: black;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;

}

#text{
	background: white;
	color: black;
	padding: 50px;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// THANKS
.blocktext {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

// FOOTER

.footer{
	padding-top: 20px;
	background: black;
	margin:0px;


	img{
	max-width: 100px;
	}
}

.longdescriptionbox{
	height:250px;
	overflow:auto;
}


// SOCIAL SHARE

.share-page {
    color: inherit;

    a {
        font-weight: 700;
        color: inherit;

        &:hover {
            border-bottom: 1px dashed inherit;
        }
    }
}

// TYPE JS

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}