---
layout: default
---


<div class="small-12 columns amazon">     
    <div class="large-2 medium-3 small-6 large-uncentered medium-uncentered small-centered columns">
       <span> <img id="logoAmz" src="/img/comazon.png"> </span> 
    </div>
    <div class="large-10 medium-9 small-12 columns amzsearchblock">  
         <div id="amzLeft">
           <a class="categoryamz1" data-dropdown="drop0" aria-controls="drop0" aria-expanded="false"><strong style="color: grey;">All</strong></a>
          <ul id="drop0" class="f-dropdown filter" data-dropdown-content aria-hidden="true" tabindex="-1">
            <li><a class="selected" href="#" data-filter="*"><strong>All</strong></a></li>
            <li><a href="#" data-filter=".Category5"><strong>5"</strong></a></li>
            <li><a href="#" data-filter=".Category1"><strong>7"</strong></a></li>
            <li><a href="#" data-filter=".Category6"><strong>12"</strong></a></li>
            <li><a href="#" data-filter=".Category2"><strong>flexi</strong></a></li>
            <li><a href="#" data-filter=".Category3"><strong>zine</strong></a></li>
            <li><a href="#" data-filter=".Category4"><strong>tape</strong></a></li>
            <li><a href="#" data-filter=".Category7"><strong>miscellaneous</strong></a></li>
          </ul>
         </div> 
        <div class="media-boxes-search-amz" ><input type="text" id="search" " placeholder="Search By Keyword"></div>
        <div id="amzLente"><img src="/img/lente.png"></div>
    </div>
 
<div class="row"><br></div>

  
    <div class="large-2 medium-3 hide-for-small-only columns">
          <span id="localization"><img src="/img/localization.png"></span><span class="smaller">We know Where</span><br style="display: block;  margin: -3px 0;"><span style="display: block;  margin-left: 25px;">you are</span>
    </div>
    <div class="large-6 medium-5 hide-for-small-only columns">
      <ul class="inline-list">
        <li class="has-dropdown">
          <a class="categoryamz" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false"><span>choose by </span><br style="display: block; margin: -3px 0;"><span><strong>category</strong></span></a>
          <ul id="drop1" class="f-dropdown filter" data-dropdown-content aria-hidden="true" tabindex="-1"  aria-autoclose="false">
            <li><a class="selected" href="#" data-filter="*"><strong>All</strong></a></li>
            <li><a href="#" data-filter=".Category5"><strong>5"</strong></a></li>
            <li><a href="#" data-filter=".Category1"><strong>7"</strong></a></li>
            <li><a href="#" data-filter=".Category6"><strong>12"</strong></a></li>
            <li><a href="#" data-filter=".Category2"><strong>flexi</strong></a></li>
            <li><a href="#" data-filter=".Category3"><strong>zine</strong></a></li>
            <li><a href="#" data-filter=".Category4"><strong>tape</strong></a></li>
            <li><a href="#" data-filter=".Category7"><strong>miscellaneous</strong></a></li>
          </ul>
        </li>
        <li class="amzfakemenu"><span>Il mio Amazon</span></li>
        <li class="amzfakemenu"><span>Offerte</span></li>
        <li class="amzfakemenu"><span>Buoni regalo</span></li>
        <li class="amzfakemenu"><span>Vendere</span></li>
        <li class="amzfakemenu"><span>Aiuto</span></li>
      </ul>
    </div>

    <div class="large-4 medium-4 small-12 columns cartamz">
      <span><strong>Ordini</strong></span>
      <span><strong>Account | </strong></span>
      <span><strong>Lista</strong></span>
         <a style="text-decoration: none;" href="#"><span><img class="icoCartamz" src="/img/cartamazon.svg" alt="cart"> </span><span><strong>Carrello</strong></span></a>
    </div>
              
</div>

<div class="row"></div>
    <div class="maincontamz">
      
       <p> <span>results for</span><span class="amzoange"> "superfluous stuff"</span></p>
  
    </div>
    
      <div class="large-2 medium-2 columns hide-for-small-only amzside">
         <ul class="no-bullet">
          <li><strong>Releases</strong></li>
         </ul> 
          <ul class="no-bullet filter amzsideinner">
            <li><a class="selected" href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".Category5">5"</a></li>
            <li><a href="#" data-filter=".Category1">7"</a></li>
            <li><a href="#" data-filter=".Category6">12"</a></li>
            <li><a href="#" data-filter=".Category2">flexi</a></li>
            <li><a href="#" data-filter=".Category3">zine</a></li>
            <li><a href="#" data-filter=".Category4">tape</a></li>
            <li><a href="#" data-filter=".Category7">miscellaneous</a></li>
           <!--  <li><input type="text" id="search" class="media-boxes-search" placeholder="Search By Keyword" style="margin-bottom: -0.7rem; height: 2rem;"></li>
        </ul> -->
        
      </div>

      <div class="large-10 medium-10 small-12 columns">
        {{ content }}
      </div>
<div class="row">
</div>

