---
layout: default
comments: true
---

<div id="blogHeader"{% if page.bgimage contains 'http' %} style="background-image: url({{ page.bgimage }})" {% else %} style="background-image: url(/img/blog/{{ page.bgimage }})" {% endif %}>
	
	<div class="testata">
		<h1 class="randomcolor">{{ page.title }}</h1>

		<i class="randomcolor">{{ page.date | date: "%b %-d, %Y" }}</i>
		{% if page.author %}
		<h5 class="randomcolor">{{ page.author}}</h5>
		
		{% endif %}

	</div>

</div>
<div class="columns" id="blogMain">
	<div class="small-12 medium-12 large-8 large-offset-2 columns">
		<div class="small-12 columns">
			<div class="blog">
			<section id="main-content" class="main-content">
			<div class="blogtext">
				<h6>
				<span>
					<img class="icoClock" src="/img/clock.svg" alt="clock">
				</span>
				<span>
					{% assign words = content | number_of_words %}
						{% if words < 360 %}
						1 min
						{% else %}
						{{ words | divided_by: 180 }} mins
					{% endif %}     	 
				</span>
				</h6>
				<br>
				
				{% if page.subtitle %}
				<h6>{{ page.subtitle}}</h6>
				{% endif %}

				{% if page.summary %}
				<h6>{{ page.summary}}</h6>
				{% endif %}

				<br>
				<div class="blogcontent">
					{{ content }}
				</div>

			</div>
				<br>
			</section>
			</div>
		</div>
		
	</div>

	<div class=" stickyside medium-2 large-2 small-12 columns">
		<br>
		<br>
		<a href="{{ site.baseurl }}/blog"><h4>Archive</h4></a>
				<ul class="no-bullet">
				<hr>
				{% for post in site.categories.blog  limit:4  %}

					<li>
					<a href="{{ post.url }}"><h6>{{ post.title }}</h6></a>
					<i>
						{{ post.date | date: '%Y %b' }}
						{% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
						{% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
						<!-- {% if year != nyear %}
							{{ post.date | date: '%Y %b' }}
						{% endif %} -->
					</i>
					<hr>
					</li>				
				{% endfor %}
						<li>
						<a href="{{ site.baseurl }}/blog"><i>see all entries</i></a>
						<hr>
						</li>
				</ul>
	</div>
</div>
	