<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon_bc.png" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- google font -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- MEDIA BOX -->
  <link rel="stylesheet" type="text/css" href="{{ "/plugin/css/mediaBoxes.css" | prepend: site.baseurl }}">
  <!-- MEDIA BOX  end-->

  {% include opengraph.html %}

  <style>
	  body {background: black; color: white;}
	  .footer {background: white; color: black;}      
	  .segnalibro {position: fixed; margin-top: 3px; margin-left: 15px;}
	  .segnalibro h6{ font-size: 80%;}
	  .underline{ text-decoration: underline;}

  </style>

</head>


  <body>
  	<div class="row">
    <div class="segnalibro"><h6><a href="{{ site.baseurl }}/"><strong>coward records</strong></a></h6></div>
    </div>
    <div class="row">
          {{ content }}
    </div>   
    
	<footer>
	 <div class="footer">
	 	<div class="row">
	 	<hr>
	 	<div class="large-2 small-12 medium-12 show-for-large-up columns">
	 		<div class="small-6 columns"><img id="footerlogo" src=" /img/logo_breakfastclub.png" alt="break fast club"></div>
	 		<div class="small-6 columns"><img src=" /img/rolling_breakfastclub.gif"></div>

	 	</div>
	 	<div class="large-4 small-12 medium-12 columns">
	 	  <h5>contatti</h5>
	 	  
	 	  <hr>
	 	  <div class="small-12  large-6 columns nomargin">
			  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
			  <p class="hide-for-small-only">{{ site.description }}</p>
		  </div>
		  <div class="small-12 large-6 columns nomargin">
		        <div id="typed-strings">
		          <p>ciao...</p>
		          <p>se vuoi rimanere aggiornato</p>
		          <p>sulle prossime colazioni</p>
		          <p>metti qui la tua email --> </p>
		        </div>
	        	<span id="typed"></span>
		  </div>
		</div>  

		<div class="large-6 small-12 medium-12 columns">
		   <h5>newsletter</h5>
		   
	 	   <hr>
		   <form style="padding:3px;text-align:left;" action="https://tinyletter.com/coward" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/coward_records', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

			   	<div class="small-8 columns nomargin">
			   		<input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address"/>
			   	</div>
			   	<div class="small-4 columns">
			   	<input type="hidden" value="1" name="embed"/>
			   	<input  class="button tiny"  style="width:100%" type="submit" value="Subscribe" />
			   </div>
		   	</form>
	   	</div>
	   	</div>
	 </div>        
	</footer>

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/typed.js"| prepend: site.baseurl }}"></script>
<script>
$(function(){
    $("#typed").typed({
        stringsElement: $('#typed-strings'),
        backDelay: 2500,
        loop: true
    });
});
</script>

<!-- Media Boxes JS files -->
      <script src="../plugin/js/jquery.isotope.min.js"></script>
      <script src="../plugin/js/jquery.imagesLoaded.min.js"></script>
      <script src="../plugin/js/jquery.transit.min.js"></script>
      <script src="../plugin/js/jquery.easing.js"></script>
      <script src="../plugin/js/waypoints.min.js"></script>
      <script src="../plugin/js/modernizr.custom.min.js"></script>
      <script src="../plugin/js/jquery.magnific-popup.min.js"></script>
      <script src="../plugin/js/jquery.mediaBoxes.js"></script>

      <script>

          $('#grid').mediaBoxes({
            filterContainer: '#filter',
            columns: 5,
            boxesToLoadStart: 10,
            boxesToLoad: 5,
            horizontalSpaceBetweenBoxes: 10,
              verticalSpaceBetweenBoxes: 10,
            search: '#search',
            searchTarget: '.maintitle',
          }); 

      </script>
<!-- Media Boxes JS files -->

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/typed.js"| prepend: site.baseurl }}"></script>
<script>
$(function(){
    $("#typed").typed({
        stringsElement: $('#typed-strings'),
        backDelay: 2500,
        loop: true
    });
});
</script>


    
    
    <!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/58288e4d1aad883390e3acf9/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->


	<script>
	  var stickySidebar = $('.stickyside');
	  if (stickySidebar.length > 0) { 
	    var stickyHeight = stickySidebar.height(),
	        sidebarTop = stickySidebar.offset().top;
	  }

	  // on scroll move the sidebar

	  $(window).scroll(function () {
	    if (stickySidebar.length > 0) { 
	      var scrollTop = $(window).scrollTop();
	      if (sidebarTop < scrollTop) {
	        stickySidebar.css('top', scrollTop - sidebarTop);
	        // stop the sticky sidebar at the footer to avoid overlapping
	        var sidebarBottom = stickySidebar.offset().top + stickyHeight,
	            stickyStop = $('.main-content').offset().top + $('.main-content').height();
	        if (stickyStop < sidebarBottom) {
	          var stopPosition = $('.main-content').height() - stickyHeight;
	          stickySidebar.css('top', stopPosition);
	        }
	      }

	      else {
	        stickySidebar.css('top', '0');
	      } 
	    }
	  });

	  $(window).resize(function () {
	    if (stickySidebar.length > 0) { 
	      stickyHeight = stickySidebar.height();
	    }
	  });
	</script>

   </body>

</html>
