<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">
    {% include header.html %}
     <div class="row">
       <div class="generalconten">
          {{ content }}
	        {% include footer.html %}
       </div>
     </div>   
    
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/57fa145e1e35c727dcf777a1/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->


    <script>
      var stickySidebar = $('.stickyside');
      if (stickySidebar.length > 0) { 
        var stickyHeight = stickySidebar.height(),
            sidebarTop = stickySidebar.offset().top;
      }

      // on scroll move the sidebar

      $(window).scroll(function () {
        if (stickySidebar.length > 0) { 
          var scrollTop = $(window).scrollTop();
          if (sidebarTop < scrollTop) {
            stickySidebar.css('top', scrollTop - sidebarTop);
            // stop the sticky sidebar at the footer to avoid overlapping
            var sidebarBottom = stickySidebar.offset().top + stickyHeight,
                stickyStop = $('.main-content').offset().top + $('.main-content').height();
            if (stickyStop < sidebarBottom) {
              var stopPosition = $('.main-content').height() - stickyHeight;
              stickySidebar.css('top', stopPosition);
            }
          }

          else {
            stickySidebar.css('top', '0');
          } 
        }
      });

      $(window).resize(function () {
        if (stickySidebar.length > 0) { 
          stickyHeight = stickySidebar.height();
        }
      });
    </script>

    <!-- show price on scroll -->
    <script>
      $(document).scroll(function () {
        var y = $(this).scrollTop();
        if (y > 800) {
            $('.bottomMenu').fadeIn();
        } else {
            $('.bottomMenu').fadeOut();
        }

    });
    </script>

    <!-- show player on scroll -->
    <script>
      $(document).scroll(function () {
        var y = $(this).scrollTop();
        if (y > 100) {
            $('.bottomPlayer').fadeIn();
        } else {
            $('.bottomPlayer').fadeOut();
        }
    });
    </script>

    <script id="dsq-count-scr" src="//www-cowardrecords-com.disqus.com/count.js" async></script>



    <!-- audio player -->
    <script>
      var music = document.getElementById('music'); // id for audio element
      var duration = music.duration; // Duration of audio clip, calculated here for embedding purposes
      var pButton = document.getElementById('pButton'); // play button
      var playhead = document.getElementById('playhead'); // playhead
      var timeline = document.getElementById('timeline'); // timeline

      // timeline width adjusted for playhead
      var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;

      // play button event listenter
      pButton.addEventListener("click", play);

      // timeupdate event listener
      music.addEventListener("timeupdate", timeUpdate, false);

      // makes timeline clickable
      timeline.addEventListener("click", function(event) {
          moveplayhead(event);
          music.currentTime = duration * clickPercent(event);
      }, false);

      // returns click as decimal (.77) of the total timelineWidth
      function clickPercent(event) {
          return (event.clientX - getPosition(timeline)) / timelineWidth;
      }

      // makes playhead draggable
      playhead.addEventListener('mousedown', mouseDown, false);
      window.addEventListener('mouseup', mouseUp, false);

      // Boolean value so that audio position is updated only when the playhead is released
      var onplayhead = false;

      // mouseDown EventListener
      function mouseDown() {
          onplayhead = true;
          window.addEventListener('mousemove', moveplayhead, true);
          music.removeEventListener('timeupdate', timeUpdate, false);
      }

      // mouseUp EventListener
      // getting input from all mouse clicks
      function mouseUp(event) {
          if (onplayhead == true) {
              moveplayhead(event);
              window.removeEventListener('mousemove', moveplayhead, true);
              // change current time
              music.currentTime = duration * clickPercent(event);
              music.addEventListener('timeupdate', timeUpdate, false);
          }
          onplayhead = false;
      }
      // mousemove EventListener
      // Moves playhead as user drags
      function moveplayhead(event) {
          var newMargLeft = event.clientX - getPosition(timeline);

          if (newMargLeft >= 0 && newMargLeft <= timelineWidth) {
              playhead.style.marginLeft = newMargLeft + "px";
          }
          if (newMargLeft < 0) {
              playhead.style.marginLeft = "0px";
          }
          if (newMargLeft > timelineWidth) {
              playhead.style.marginLeft = timelineWidth + "px";
          }
      }

      // timeUpdate
      // Synchronizes playhead position with current point in audio
      function timeUpdate() {
          var playPercent = timelineWidth * (music.currentTime / duration);
          playhead.style.marginLeft = playPercent + "px";
          if (music.currentTime == duration) {
              pButton.className = "";
              pButton.className = "play";
          }
      }

      //Play and Pause
      function play() {
          // start music
          if (music.paused) {
              music.play();
              // remove play, add pause
              pButton.className = "";
              pButton.className = "pause";
          } else { // pause music
              music.pause();
              // remove pause, add play
              pButton.className = "";
              pButton.className = "play";
          }
      }

      // Gets audio file duration
      music.addEventListener("canplaythrough", function() {
          duration = music.duration;
      }, false);

      // getPosition
      // Returns elements left position relative to top-left of viewport
      function getPosition(el) {
          return el.getBoundingClientRect().left;
      }
    </script>
   
  <!-- <SCRIPT>
    //******************************************************************************************
    //*  snappyCheckout_CartItemCountChanged                                                   *
    //******************************************************************************************
    function snappyCheckout_CartItemCountChanged(count)
    { Checkout.Utils.setDiv("CartCount", count);
                    
      if (count === 0)
      { Checkout.Utils.removeClass("CartCount", "CartFullNumber");
        Checkout.Utils.addClass("CartCount", "CartEmptyNumber");
        
        Checkout.Utils.setClass("Cart", "CartEmpty");
      }
      else
      { Checkout.Utils.removeClass("CartCount", "CartEmptyNumber");
        Checkout.Utils.addClass("CartCount", "CartFullNumber");
        
        Checkout.Utils.setClass("Cart", "CartFull");
      }
    }
    
    //******************************************************************************************
    //*  getDropdownText                                                                       *
    //******************************************************************************************
    function getDropdownText(strDropdownId)
    { var strText = "";
      var dropdownBox = document.getElementById(strDropdownId);
      
      if (dropdownBox)
      { if (dropdownBox.options.length > 0)
        { strText = dropdownBox.options[dropdownBox.selectedIndex].text;
        }
      }
            
      return strText;
    }
    
    //******************************************************************************************
    //*  getRadioButton                                                                        *
    //******************************************************************************************
    function getRadioButton(strName) 
    { try 
      { return document.querySelector('input[name = "' + strName + '"]:checked').value;
      }
      catch(ex) 
      { return "";
      }
    }
  </SCRIPT>
    <SCRIPT SRC="https://s3.amazonaws.com/snappycheckout/Button.js"></SCRIPT> -->
   </body>
</html>
