<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">
    {% include header.html %}
    
          {{ content }}
	        {% include footer.html %}
       

     <script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
     <script src="{{ "/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>
     <script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script> 

      {%if page.title == "Releases" or page.title == "Distro" %}
      <!-- Media Boxes JS files -->
            <script src="../plugin/js/jquery.isotope.min.js"></script>
            <script src="../plugin/js/jquery.imagesLoaded.min.js"></script>
            <script src="../plugin/js/jquery.transit.min.js"></script>
            <script src="../plugin/js/jquery.easing.js"></script>
            <script src="../plugin/js/waypoints.min.js"></script>
            <script src="../plugin/js/modernizr.custom.min.js"></script>
            <script src="../plugin/js/jquery.magnific-popup.min.js"></script>
            <script src="../plugin/js/jquery.mediaBoxes.js"></script>

            <script>
                $('#grid').mediaBoxes({
                  filterContainer: '#filter',
                  columns: 5,
                  boxesToLoadStart: 10,
                  boxesToLoad: 5,
                  horizontalSpaceBetweenBoxes: 10,
                    verticalSpaceBetweenBoxes: 10,
                  search: '#search',
                  searchTarget: '.maintitle',
                }); 
            </script>
      <!-- Media Boxes JS files -->
      {% endif %}

     

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/57fa145e1e35c727dcf777a1/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    <!--End of Tawk.to Script-->


    <!--disqus-->
    <script id="dsq-count-scr" src="//www-cowardrecords-com.disqus.com/count.js" async></script>
    <!--end disqus-->

    <script>
      var stickySidebar = $('.stickyside');
      if (stickySidebar.length > 0) { 
        var stickyHeight = stickySidebar.height(),
            sidebarTop = stickySidebar.offset().top;
      }

      // on scroll move the sidebar

      $(window).scroll(function () {
        if (stickySidebar.length > 0) { 
          var scrollTop = $(window).scrollTop();
          if (sidebarTop < scrollTop) {
            stickySidebar.css('top', scrollTop - sidebarTop);
            // stop the sticky sidebar at the footer to avoid overlapping
            var sidebarBottom = stickySidebar.offset().top + stickyHeight,
                stickyStop = $('.main-content').offset().top + $('.main-content').height();
            if (stickyStop < sidebarBottom) {
              var stopPosition = $('.main-content').height() - stickyHeight;
              stickySidebar.css('top', stopPosition);
            }
          }

          else {
            stickySidebar.css('top', '0');
          } 
        }
      });

      $(window).resize(function () {
        if (stickySidebar.length > 0) { 
          stickyHeight = stickySidebar.height();
        }
      });
    </script>

    {% if page.layout == "item" or page.layout == "itemdistro"  %}
    <!-- show price on scroll -->
    <script>
      $(document).scroll(function () {
          var y = $(this).scrollTop();
          if (y > 1300) {
              $('.bottomMenu').fadeIn();
          } else {
              $('.bottomMenu').fadeOut();
          }

      });
    </script>
    {% endif %} 

    
    
    {% if page.layout == "item" %}
    <!-- audio player -->
    <script>
    function player() {
      if (audioTrack.paused) {
      setText(this, "Pause");
      audioTrack.play();
      } else {
      setText(this,"Play");
      audioTrack.pause(); 
      }
    }

    function setText(el,text) {
      el.innerHTML = text;
    }

    function finish() {
        audioTrack.currentTime = 0;
        setText(playButton,"Play");
    }

    function updatePlayhead() { 
      playhead.value = audioTrack.currentTime;
      var s = parseInt(audioTrack.currentTime % 60);
        var m = parseInt((audioTrack.currentTime / 60) % 60);
        s = (s >= 10) ? s : "0" + s;
        m = (m >= 10) ? m : "0" + m;
        playbacktime.innerHTML = m + ':' + s ;
        
    }

    function volumizer() {
      if (audioTrack.volume == 0) { setText(muteButton,"volume"); }
      else { setText(muteButton,"volumehigh"); }
    }

    function muter() {
      if (audioTrack.volume == 0) {
        audioTrack.volume = restoreValue;
        volumeSlider.value = restoreValue;
      } else {
        audioTrack.volume = 0;
        restoreValue = volumeSlider.value;
        volumeSlider.value = 0;
      }
    }

    function setAttributes(el, attrs) {
      for(var key in attrs){
        el.setAttribute(key, attrs[key]);
      }
    }

    var audioPlayer = document.getElementById("audioplayer"),
    fader = document.getElementById("fader"),
    playback = document.getElementById("playback"),
    audioTrack = document.getElementById("audiotrack"),
    playbackTime = document.getElementById("playbacktime"),
    playButton = document.createElement("button"),
    muteButton = document.createElement("button"),
    playhead = document.createElement("progress")
    volumeSlider = document.createElement("input");
    setText(playButton, "Play");
    setText(muteButton, "volumehigh");
    setAttributes(playButton, { "type": "button", "class": "ss-icon" });
    setAttributes(muteButton, { "type": "button", "class": "ss-icon" });
    muteButton.style.display = "inline";
    setAttributes(volumeSlider, { "type": "range", "min": "0", "max": "1", "step": "any", "value": "1", "orient": "orizontal", "id": "volumeSlider" });
    var duration = audioTrack.duration;
    setAttributes(playhead, { "min": "0", "max": "100", "value": "0", "id": "playhead", "class": "randomcolorbtn" });
    setAttributes(playButton, { "class": "ss-icon randomcolor" });
    setAttributes(muteButton, { "class": "ss-icon randomcolor" });
    fader.appendChild(volumeSlider);
    fader.appendChild(muteButton);
    playback.appendChild(playButton);
    playback.appendChild(playhead);
    audioTrack.removeAttribute("controls");
    playButton.addEventListener("click", player, false);
    muteButton.addEventListener("click", muter, false);
    volumeSlider.addEventListener("input", function(){ audioTrack.volume = volumeSlider.value; }, false);
    audioTrack.addEventListener('volumechange', volumizer, false);
    audioTrack.addEventListener('playing', function(){ playhead.max = audioTrack.duration; }, false);
    audioTrack.addEventListener('timeupdate', updatePlayhead, false);
    audioTrack.addEventListener('ended', finish, false);
    </script>
    {% endif %}

    <!-- random color -->
    {% if page.layout == "item"  or page.layout == "itemdistro" %}
    <script>
      $(document).ready(function() {
          var text = $('.randomcolor');
          var btn = $('.randomcolorbtn');
          var brd = $('.randomcolorbrd');
          var svg  = $('.randomcolorsvg');
          var original = text.css('color');
          var originalbtn = btn.css('background-color');
          var originalbrd =  brd.css('border-color');
          var originalsvg =  svg.css('fill');
          var colors = ["#007a99", "#ff99bb", "#990099", "#4dffd2", "#cc9900"];
          var col = Math.floor(Math.random() * colors.length);
          text.css('color', colors[col]);
          btn.css('background-color', colors[col]);
          brd.css('border-color', colors[col]);
          svg.css('fill', colors[col]);
      });
    </script>
    {% endif %}


    <script>
      ScrollReveal().reveal('.reveal', { delay: 690 })
    </script>
   
   </body>
</html>
