<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">
    {% include header.html %}

     <div id="homepage">
        {{ content }}
     </div>   

     <script src="../plugin/js/isotope.pkgd.min.js"></script>
     <script src="../plugin/js/imagesloaded.pkgd.js"></script>


    <div class="row">
      <div class="generalconten">
        {% include footer.html %}
      </div>  
    </div>



    <script>
      // external js: isotope.pkgd.js, imagesloaded.pkgd.js

      // init Isotope
      var $grid = $('.grid').isotope({
        itemSelector: '.grid-item',
        percentPosition: true,
        masonry: {
          columnWidth: '.grid-sizer'
        }
      });
      // layout Isotope after each image loads
      $grid.imagesLoaded().progress( function() {
        $grid.isotope('layout');
      });  

    </script>

 
   </body>
</html>