---
layout: default
---

<div class="item" {% if page.bgimage contains 'http' %} style="background-image: url({{ page.bgimage }})" {% else %} style="background-image: url(/img/{{ page.bgimage }})" {% endif %}>


	<div class="large-4 medium-6 small-12 columns itemborder" >
		<h2>{{page.name}}</h2>
		<p>{{page.artist}}</p>
  		<h5>{{page.subtitle}}</h5>
  		{% if page.author %}
  			<i>{{page.sku}}</i>
  		{% endif %}

  		<hr>
  		<div>
			{{ content }}
		</div>
			
		<br>

		{% include shopbutton.html %}
		<hr>
		
	</div>
	
	<div class="large-6 medium-6 small-12 columns end" id="itemimages">
		<br>
		{% if page.image contains 'http' %}
          <img  src="{{ page.image }}" alt="{{ page.name }}"/>
        {% else %}
          <img  src="/img/distro/{{ page.image }}" alt="{{ page.name }}"/>
      	{% endif %}		
		<ul class="clearing-thumbs small-block-grid-3" data-clearing >
			 {% for item in page.imagethumb %}
       			 <li><img src="{{ item.link }}" alt="{{ page.subtitle }}"/></li>
      		 {% endfor %}
		</ul> 
	<br>
	<br>
	</div>

	
</div>

<div class="row"></div> <!-- trick per andare a capo -->