---
layout: default
---

<div class="item" {% if page.bgimage contains 'http' %} style="background-image: url({{ page.bgimage }})" {% else %} style="background-image: url(/img/{{ page.bgimage }})" {% endif %}>
	<div class="itemborder" >
		<div class="itemtitle">
			<h2>{{page.name}}</h2>
			<p>{{page.artist}}</p>
  			<h5>{{page.subtitle}}</h5>
  			{% if page.author %}
  				<i>{{page.sku}}</i>
  			{% endif %}
		</div>

  		<hr>
  		<div class="itemdescr">
			{{ content }}
		</div>
			
		<br>
		{% if page.shop %}
			<div class="shopbutton">
				{% include shopbutton.html %}
			</div>
			{% else%}	
			<div class="shopbutton">
				<h4>sold out</h4>
			</div>
		{% endif %}	
	</div>
	
	<div class="gallery">
		{% if page.image contains 'http' %}
          <img  src="{{ page.image }}" alt="{{ page.name }}"/>
        {% else %}
          <img  src="/img/distro/{{ page.image }}" alt="{{ page.name }}"/>
      	{% endif %}		

		{% for item in page.imagethumb %}
       	  <img src="{{ item.link }}" alt="{{ page.subtitle }}"/>
      	{% endfor %}
	</div>
</div>