---
layout: default
---

<div class="item" {% if page.bgimage contains 'http' %} style="background-image: url({{ page.bgimage }})" {% else %} style="background-image: url(/img/{{ page.bgimage }})" {% endif %}>



	<div class="large-8 columns show-for-large-up">
	  <hr>
	</div>
	<div class="large-4 columns show-for-large-up">
	  <hr>
	</div>

	<div class="large-4 medium-4 small-12 columns" >
		<h2 class="randomcolor">{{page.title}}</h2>
		<p class="randomcolor">{{page.artist}}</p>
  		<h5 class="randomcolor">{{page.subtitle}}</h5>
  		{% if page.author %}
  			<i class="randomcolor">{{page.code}}</i>
  		{% endif %}

  		<hr>
  		<div class="longdescriptionbox">
			{{ content }}
		</div>
			
		<br>

		{% include shopbutton.html %}
		<hr>
		{% include socialshare.html %}
	</div>
	
	<div class="large-4 medium-8 small-12 columns" id="itemimages">
		{% if page.image contains 'http' %}
          <img  src="{{ page.image }}" alt="{{ page.name }}"/>
        {% else %}
          <img  src="/img/{{ page.image }}" alt="{{ page.name }}"/>
      	{% endif %}		
		<ul class="clearing-thumbs small-block-grid-3" data-clearing >
			 {% for item in page.imagethumb %}
       			 <li><img src="{{ item.link }}" alt="{{ page.subtitle }}"/></li>
      		 {% endfor %}
		</ul> 
	<br>
	<br>
	</div>

	<div class="small-12 medium-12 large-4 columns show-for-medium-up">
	<h6>LATEST RELEASES</h6>
	<ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-2">
	  {% for post in site.categories.release limit:4 %} 
	        <li>
	          <hr>
	          <a href="{{ post.url | prepend: site.baseurl }}">
	            <div class="tileblock">
	              <h5>{{ post.title | strip_html | truncatewords:20  }}</h5>
	              <p>{{post.artist}}</p>
	            </div>
	            {% if post.image contains 'http' %}
	                <img src="{{ post.image }}" alt="{{ post.name }}"/>
	              {% else %}
	                <img src="/img/{{ post.image }}" alt="{{ post.name }}"/>
	            {% endif %} 
	          </a>
	          <br>
	        </li> 
	  {% endfor %}
	</ul>
	<a id="underline" href="/releases"><p>all releases</p></a>
	</div>
</div>