---
layout: default
head:
  snipcart.html
---
<div class="item" {% if page.bgimge%} style="color:white;" {% endif %}{% if page.bgimage contains 'http' %} style=" background-image: url({{ page.bgimage }}); " {% else %} style=" background-image: url(/img/{{ page.bgimage }});" {% endif %} itemscope itemtype="http://schema.org/Product" >
	
		<div class="large-4 medium-4 small-12 columns">
			<hr>
			<div class="itemtitle">
				<div class="large-6 columns nomargin">
					{% if page.cover contains 'http' %}
		              <img src="{{ page.cover }}" alt="{{ page.name }}" itemprop="image"/>
		            {% else %}
		              <img src="/img/{{ page.cover }}" alt="{{ page.name }}" itemprop="image"/>
		          	{% endif %}
				</div>

				<div class="large-6 columns">
			    
					<h2 class="randomcolor" itemprop="name">{{page.title}}</h2>
					<p class="randomcolor">{{page.artist}}</p>
		  			<h6 class="randomcolor">{{page.code}}  // {{page.subtitle}}</h6>

		  		</div>
	  		</div>
	  		<br>
	  		<hr>
	  		
				{{ content }}
			<br>
			<!-- <hr> -->	
			{% include shopbutton.html %}
			<hr>
			<button class="snipcart-add-item randomcolorbtn"
		      data-item-name="{{ page.name }}"
		      data-item-id="{{ page.sku }}"
		      data-item-image="{{ page.image }}"
		      data-item-url="{{ site.baseurl }}"
		      data-item-price="{{ page.price }}">
		      Buy it for {{ page.price }} $
		    </button>
			{% include socialshare.html %}
			<hr>
		</div>
		
		<div class="large-8 medium-8 small-12 columns" id="lowest">
			<hr>

			{% if page.image contains 'http' %}
              <img src="{{ page.image }}" alt="{{ page.name }}" itemprop="image"/>
            {% else %}
              <img src="/img/{{ page.image }}" alt="{{ page.name }}" itemprop="image"/>
          	{% endif %}
			
			<br>
			<br>

			<!-- <ul class="clearing-thumbs small-block-grid-3" data-clearing >
			{% if page.imagethumb %}
				 {% for item in page.imagethumb %}
				 {% if item.link contains 'http' %}
		              <li><img src="{{ item.link }}" alt="{{ page.subtitle }}"/></li>
		            {% else %}
		              <li><img src="/img/{{ item.link }}" alt="{{ page.subtitle }}"/></li>
		          	{% endif %}
	      		 {% endfor %}
	      	{% else%}	
	      	{% endif%}	 
			</ul>  -->
		</div>
		
		<div class="small-12 columns">
		<ul class="clearing-thumbs large-block-grid-2 medium-block-grid-2 small-block-grid-1 " data-clearing >
			{% if page.imagethumb %}
				 {% for item in page.imagethumb %}
				 {% if item.link contains 'http' %}
		              <li><img src="{{ item.link }}" alt="{{ page.subtitle }}"/></li>
		            {% else %}
		              <li><img src="/img/{{ item.link }}" alt="{{ page.subtitle }}"/></li>
		          	{% endif %}
	      		 {% endfor %}
	      	{% else%}	
	      	{% endif%}	 
		</ul>
		</div>
		<!-- <div class="large-4 medium-12 small-12 columns">
		
			{% if page.sound  %}
			<hr>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" src={{ page.sound }}></iframe>	
				<br>
			{% else %}	
			<br>
			{% endif %}
			{% if page.video  %}
				<div class="videoWrapper">
					<iframe width="100%" height="auto" src={{page.video}} frameborder="0" allowfullscreen></iframe>
				</div>
			{% endif %}
		</div>
		 -->
</div>

<div class="row hide-for-medium-only hide-for-small-only" style="width: 800px"></div> <!-- soluzione per andare a capo -->