---
layout: default
---

<div class="blogHeader" {% if page.bgimge%} style="color:white;" {% endif %}{% if page.bgimage contains 'http' %} style=" background-image: url({{ page.bgimage }}); " {% else %} style=" background-image: url(/img/{{ page.bgimage }});" {% endif %}>


</div>
<div class="item"  itemscope itemtype="http://schema.org/Product" >
	
		<div class="large-4 medium-4 small-11 small-centered medium-uncentered large-uncentered columns itemborder">
			
			<div class="itemtitle">
				<div class="large-6 columns nomargin">
					{% if page.cover contains 'http' %}
		              <img src="{{ page.cover }}" alt="{{ page.name }}" itemprop="image"/>
		            {% else %}
		              <img src="/img/{{ page.cover }}" alt="{{ page.name }}" itemprop="image"/>
		          	{% endif %}
				</div>

				<div class="large-6 columns nomarginlarge">
					<h2>{{page.name}}</h2>
					<p>{{page.artist}}</p>
		  			<h6>{{page.sku}}  // {{page.subtitle}}</h6>
		  		</div>
	  		</div>
	  		<br>
	  		<hr>
	  		
				{{ content }}
			<br>
			<!-- <hr> -->
			{% if page.soldout == true %}
				<h >sold out</h6>
			{% else if %}	
				{% include shopbutton.html %}
			{% endif %}	
			<hr>
			
		</div>
		

		<div class="large-8 medium-8 small-12 columns">
			<hr class="hide-for-small-only">

			{% if page.image contains 'http' %}
              <img src="{{ page.image }}" alt="{{ page.name }}" itemprop="image"/>
            {% else %}
              <img src="/img/{{ page.image }}" alt="{{ page.name }}" itemprop="image"/>
          	{% endif %}
			

		</div>
		
		<div class="small-12 columns gallery">
		<ul class="clearing-thumbs large-block-grid-2 medium-block-grid-2 small-block-grid-1" >
			{% if page.imagethumb %}
				 {% for item in page.imagethumb %}
				 {% if item.link contains 'http' %}
		              <li><img src="{{ item.link }}" alt="{{ page.subtitle }}"/></li>
		            {% else %}
		              <li><img src="/img/{{ item.link }}" alt="{{ page.subtitle }}"/></li>
		          	{% endif %}
	      		 {% endfor %}
	      	{% else%}	
	      	{% endif%}	 
		</ul>
		</div>

</div>
